[2017-10-09 10:43] thopiekar opened #101 "Expaination how the SPK works"
Could you explain how the SPK works?
I installed openHAB to the home directory of the openHAB2 user and found this:
![image](https://user-images.githubusercontent.com/1847437/31334658-73b1ddea-acef-11e7-84a9-748608b3c8ed.png)
Is it a kind of chroot we are using? If so, why?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50179291-ex

[2017-10-11 09:39] loovanloon opened #102 "Forced reinstall OpenHAB after update DSM from 6.1.3-15152 Update 5 to DSM 6.1.3-15152 Update 6"
I had to reinstall openHAB-2.2.0.007-SNAPSHOT after updating DSM from 6.1.3-15152 **Update 5** to DSM 6.1.3-15152 **Update 6** because the installed openHAB package couldn't be started in the packages manage.

I removed openHAB-2.2.0.007-SNAPSHOT and reinstalled it.

![image](https://user-images.githubusercontent.com/25280600/31433163-c11e7d60-ae78-11e7-8133-75cfab701144.png)

[2017-10-11 09:48] loovanloon opened #103 "Provide folder USERDATA as well in \public\openHAB2\."
ENHANCEMENT:
For backup and restore purposes of the installation configured through the paper UI I think it is usefull to provide access to the USERDATA folder as well in the \public\openHAB2\ folder

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50155165-provide-folder-userdata-as-well-in-public-openhab2?utm_campaign=plugin&utm_co

[2017-10-11 18:10] cniweb commented on #99
HTTP

[2017-10-11 18:12] cniweb commented on #100
This way is not supported at the moment.
Uninstall the old version and install the new.
Update is not working, sorry!
We work on a stable version for 2.2.0-SNAPSHOT branch.

[2017-10-11 18:17] cniweb commented on #102
I have no DSM 6.1.x and can not test it.
I am dependent on your help.
Would be good if someone could look at that, thanks!

[2017-10-11 18:20] cniweb commented on #101
@SchoppAx can you explain how the SPK works with the home directory?

[2017-10-11 18:24] cniweb commented on #103
The folder USERDATA should also be linked via
`/public/openhab2/`
or
`/smarthome/openhab2/`
or
`/var/services/homes/openhab2/`

[2017-10-11 18:27] cniweb commented on #99
The description in the wizard should become clearer.
We will edit the description.

[2017-10-11 18:30] thopiekar commented on #101
Also I would really like to understand how SPK works in general. Something like a brief summary, so I check get an kickstart on this.
Before I had updates working on my QPKG package, but my QNAP made a lot of trouble so I got my money back after a year and now I'm on the Synology trian.
Maybe we can get something awesome working.. At least doing some cleanups, so the package does not mention openH

[2017-10-11 18:31] thopiekar commented on #99
Would be also nice if we could add another page for HTTPS 😉

[2017-10-12 07:09] SchoppAx commented on #103
@cniweb tell me if I'm wrong, but i think the "innovation" of the openhab2 config files (userdata) are, that they can be full managed with the PaperUI. So the user doesn't need to change the config files itselfs.

[2017-10-12 07:19] SchoppAx commented on #102
Yeah, there is a bug if the system has to restart the openhab installation.

So for example if you running openhab and restart your system, openhab is still be running (in my case), but you can't manage (start/stop) it anymore.
This occurs because the PID file isn't updated.

We need a better mechanism for that case.

[2017-10-12 07:49] SchoppAx commented on #101
For the beginning you can look inside the DSM Developer Guide: https://developer.synology.com/download/developer-guide.pdf
You don't need the build environment. So you can start on page 45.

The minimal source structure is like:
YourPackageSource/
        ├── INFO
        ├── LICENSE
        ├── PKG_DEPS
        ├── PACKAGE_ICON.PNG
        ├── PACKAGE_ICON_256.PNG
        ├── scripts/
         |

[2017-10-12 12:20] loovanloon commented on #102
I can confirm the OH2 package was running when updating the DSM and that update included a reboot.

[2017-10-12 12:36] loovanloon commented on #103
@SchoppAx  The issue is not _changing_ the files, but _backing up_ the files.

In OH2 there are indeed 2 ways of configuration:
1. through config-text files in ./openhab2/conf/.  (OH1 style)
2. though paper UI, stored in JSONDB in ./openhab2/userdata/.

Hence to (easily) backup your configuration made through the PaperUI (and stored in JSONDB) you also need easy access to  ./openhab2/userdata

[2017-10-12 12:44] aurelio1 commented on #103
While the PaperUI can make several things easier, it is far from being that powerful to replace manual editing of config files. But the config files are already linked in the public folder so it is no issue at all editing them from DSM.
If you set up a new device, from my experience it happens often that you have to check the logfiles or changing some log settings (these are also in the userdata f

[2017-10-12 12:46] thopiekar commented on #100
Ok, we can close it then.

[2017-10-12 19:33] cniweb commented on #100
I leave it open, because the update should work once

[2017-10-12 19:37] cniweb commented on #102
@kaikreuzer Same problem as here https://github.com/openhab/openhab-docker/issues/108 ???
Pid file Handling?

[2017-10-12 19:46] cniweb commented on #103
Another case would be the update. Because the update does not work, but only an uninstall and install. The data will be deleted.

[2017-10-17 16:27] DarkLite1 commented on #91
It would be great if this could be included. Allows the disk to go into hibernate. During installation, can this not be copied to '/usr/local/etc/rc.d/'? I think it would benefit a lot of Synology users.

[2017-10-17 21:22] volcore79 opened #105 "Old issue?"
Hi all,

it's my first installation, i seem to get an "old" error: "User home service not enabled". I installed Java "ejdk1.8.0_144" (1.8.0_144-0044) via PCLoadLetter Packetsource and it is running (i also tried the Java 8 installation of synology - same problem).

I am using DSM 6.1.3 - 15152 Update 7 on DS214se. I tried the installation of openHAB-2.2.0.007.

Does anyone know how i can solve my

[2017-10-17 22:09] SchoppAx commented on #105
Hi Volker,

please enable the User Home Service.
Control panel -> User -> Advanced -> Check "Enable user home service"

[2017-10-17 22:16] SchoppAx commented on #91
Yes, that's the plan :-)

But we have to make the script dynamic. For example not everybody has the files on volume1.

We will include the file inside the sources and set placeholders that will be replaced on the installation.

[2017-10-17 22:22] cniweb commented on #105
@volcore79 can I close this issue?

[2017-10-18 13:09] Skostrub opened #106 "No compatible audio format found"
USB Audio card installed.
Works with Audio station.

Service VoiceRSS configured.
Web audio works (in desktop brouser)
Default speaker (should be USB card) while attemting to run "Say" command brings:

**[WARN ] [core.voice.internal.VoiceManagerImpl] - No compatible audio format found for TTS 'voicerss' and sink 'javasound'**

Not sure whether it should be addressed here, but since it is relevant

[2017-10-18 19:21] volcore79 commented on #105
Installation works, thanks! Yes, @cniweb

[2017-10-21 15:27] DarkLite1 commented on #91
I can't even find the current `events.log` file on my NAS, checked the following as indicated on the [OpenHAB doc site](http://docs.openhab.org/administration/logging.html):
- userdata/log (manual setup)
- or /var/log/openhab2 (apt/deb-based setup)

Nothing there. Am I missing something here?

[2017-10-21 16:26] calle2010 commented on #100
I saw this issue too late. Did the update on my one week old DS116 from
openHAB-2.1.0.011-syno-noarch-0.001.spk (which didn't work for me)
to
openHAB-2.2.0.007-SNAPSHOT-syno-noarch-0.001.spk

I had an SSH session open in directory
openHAB-2.2.0.007-SNAPSHOT-syno-noarch-0.001.spk

As the update was not progressing, I did an ```ls``` command. Result
```-sh: /usr/bin/ls: No such file or directory```

[2017-10-21 16:33] calle2010 commented on #100
Another thing: The Web UI of the DS116 doesn't show anymore, only a message like "Synology, sorry, page not found" (for me in German) coming up.

[2017-10-21 17:43] calle2010 commented on #100
I had to do a reset of my DS116. Assistant offered me a "migration". Data and configuration is back, but some things still don't work (File Station doesn't show shared folders, Video Station doesn't run).

I uninstalled openhab2 package. Now I see a directory ```/volume1/@appstore/openHAB2-backup-201710/userdir``` which looks like a copy of the root directory of the DS116, including soft links usr

[2017-10-21 22:29] calle2010 commented on #100
If I may guess:

https://github.com/openhab/openhab-syno-spk/blob/8a665337bf8cf5d0be5a628045feb0e7e0a40a0f/scripts/installer.sh#L385

This line may be the failure: if LINK_FOLDER for some reason is empty it would try to move all files from root directory to userdir in the backup folder. It should be checked that LINK_FOLDER exists to make sure this is not an empty string.

[2017-10-22 18:36] cniweb commented on #100
The update still does not work 100%. We're still working on it!
@SchoppAx Can you say something about this?

[2017-10-22 18:48] cniweb commented on #91
@DarkLite1 you found it here:
[code]
We have added it in the README.md file:
https://github.com/openhab/openhab-syno-spk/commit/6fd04a34a706edecaf031f4b99556474a0687ace

[2017-10-22 18:54] #105 closed

[2017-10-22 19:05] cniweb commented on #106
Have you read the docu:
http://docs.openhab.org/configuration/multimedia.html

[2017-10-22 19:07] cniweb commented on #101
You can join our german synology openhab chat at skype:
https://join.skype.com/jUy7dOUy2z7P

[2017-10-22 20:10] cniweb commented on #103
@loovanloon and @aurelio1 I add the userdata folder, is this ok (see my commit)?

[2017-10-22 20:35] aurelio1 commented on #103
@cniweb Great, thank you! I just wondered why it is necessary to remove the single userdata subdirectories such as tmp, log, logs and cache. Why didn't you do it at once, as with the conf directory that includes all subdirectories? I did it manually up to now and moved the directory and linked to it in one operation.

[2017-10-22 20:57] cniweb commented on #103
@aurelio1 Because the directories:
`config`, `etc`, `jsondb` and `kar`
contain data that must be retained during the update.

[2017-10-23 12:56] Skostrub commented on #106
btw on Synology DS213J
I cannot connet to console.
If I run ssh -p 8101 openhab@localhost

[2017-10-23 15:26] SchoppAx commented on #100
Mh, if the link folder variable is empty...

I have added a check.

I will check the old packages 2.1.0.008 and 2.1.0.011, maybe there is everything wrong with the symbolic link :-/

[2017-10-23 16:36] DarkLite1 commented on #91
Thank you guys, appreciate it :+1:

[2017-10-23 18:12] cniweb commented on #106
I try this on the diskstation:
[code]

[2017-10-23 18:37] cniweb commented on #100
OK, I close this issue.
A new release is already planned.

[2017-10-23 18:37] #100 closed

[2017-10-28 13:36] loovanloon commented on #103
Where can I download the SPK that contains the change?

[2017-10-29 14:11] cniweb commented on #103
I think I have time this sunday...

[2017-11-01 19:21] cniweb commented on #103
@loovanloon New version is released:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.2.0.008-SNAPSHOT

[2017-11-01 19:24] cniweb commented on #101
@thopiekar You have skype?

[2017-11-01 19:39] thopiekar commented on #101
Yes, I have. Sorry that I was not responding for a long time.
Very busy with my graduation and I'm far way from my NAS at the moment.

Will join the room soon.

[2017-11-02 10:08] jaghatei opened #108 "2.2.0.008-SNAPSHOT does not install on DSM 6.1.3-15152 Update 8"
I tried to install 2.2.0.008 yesterday on a ds214play with DSM 6.1.3-15152 Update 8.
By whatever reason the preinst and postinst routines are not called during installation procedure leaving the package dead. Calling these scripts manually after setting SYNOPKG_PKGNAME=openHAB2 and
SYNOPKG_PKGDEST=/volume1/\@appstore/openHAB2 did install openHAB2 successfully. So I assume this must be a problem in

[2017-11-03 07:35] rkrausen commented on #108
Same problem here...
DS-916+
DSM 6.1.3-15152 Update 8

[2017-11-03 12:44] loovanloon commented on #108
Same here on DS214 / DSM 6.1.3-15152 Update 8.  It installs, but the package can't be run.
![image](https://user-images.githubusercontent.com/25280600/32374144-c068ead2-c09c-11e7-9609-4166140956e2.png)

[2017-11-03 15:37] SchoppAx commented on #108
Hi guys,

I will try to fix the issue this weekend.

[2017-11-03 15:38] cniweb commented on #108
I think that's a problem with DSM 6.1. I can not test it because I only have DSM version 4.1 and 5.2.
@SchoppAx Can you please take a look at this?

[2017-11-03 19:36] zhelyan commented on #108
same

[code]

[2017-11-05 17:51] SchoppAx commented on #108
The problem is the ${OH_USERDATA} variable.
You can't use this var instead of ${SYNOPKG_PKGDEST}/userdata, because if the folder dosen't exists the installation later tries to access the non existing path.

I will create a PR with the rollback to ${SYNOPKG_PKGDEST}/userdata ;-)

[2017-11-05 19:16] cniweb commented on #108
OK, I released a new version, try it, please.

[2017-11-05 22:40] Starlordi commented on #108
Still not working, after installation I am not able to start the package.

[2017-11-05 23:51] HyperCopy commented on #108
Same issue here... just tried with the new version...

[2017-11-06 10:34] SchoppAx commented on #108
Ok, i forgot to set the rights if the userdata folder still is under @appstore.

For a quick fix you can create the folder userdata in your config folder (like public/openhab2 or smarthome/openhab2). If you select the home dir it has to work.

@cniweb why do we not create the folders (addons, conf and userdata) automatically?

[2017-11-06 10:48] SchoppAx commented on #108
Please test this pre-release: https://github.com/SchoppAx/openhab-syno-spk/releases/download/2.2.0.008-SNAPSHOT/openHAB-2.2.0.008-SNAPSHOT-syno-noarch-0.001.spk

[2017-11-06 12:25] jaghatei commented on #108
Yes the installation of the new snapshot is successful.

Issue seems to base on a file rights problem in scripts folder of pkg.
After setting executable bit for group and others on files in script folder of original pkg file installation works.
So I suppose that with update 8 Synology changed the way of installation from default with root to some other user, but keeps deinstallation done by root.

[2017-11-06 20:02] loovanloon commented on #108
Yes! Thank you, works like a charm. I cannot tell you how happy I am: just installed the package on my Syno, and copied all the addons, conf, and userdata map from my windows installation over to the syno-installation. Only had to install the bindings form the Paper UI again, and the complete installation now works on the syno.

Thank you @cniweb Christian and @SchoppAx ! For all your time and eff

[2017-11-06 20:11] loovanloon opened #110 "Installation script doesn't mention to add USERDATA map during installation instruction."
Add the installation instruction about the USERDATA map to the end-user installation instructions during installation of the package.

During installation it is instructed to the end-user that if the CONF and ADDONS map exist in the public\openHAB2 map, that the installation will make a link to these maps.  The instructions only mentions these these two maps and it doesn't mention the USERDATA map

[2017-11-06 21:44] Starlordi commented on #108
Hello, your pre-release worked fine for me, Thanks

[2017-11-06 21:44] cniweb commented on #108
@jaghatei Is there still a problem here? Can we close the issue then?

[2017-11-06 21:47] Starlordi commented on #108
only the pre-release:

https://github.com/SchoppAx/openhab-syno-spk/releases/download/2.2.0.008-SNAPSHOT/openHAB-2.2.0.008-SNAPSHOT-syno-noarch-0.001.spk

worked. It needs to be updated on the download homepage....

[2017-11-06 21:55] cniweb commented on #108
Ahh, OK, I replaced it.

[2017-11-06 22:44] jaghatei commented on #108
can be closed.

[2017-11-07 19:42] #108 closed

[2017-11-14 11:07] ppmhuijbers commented on #36
Had the same issue, only then with Zarafa.sc that left 8081 in the configuration although it was removed. Logged in with ssh , took sudo -i (admin rights) and removed with vi Zarafa.sc -> wq! the configuration parts referring to port 8081 . Thanks tseroo for the solution

[2017-11-16 20:39] cniweb commented on #110
Fixed with #115

[2017-11-16 20:39] #110 closed

[2017-11-16 20:39] #103 closed

[2017-11-16 20:40] #101 closed

[2017-11-16 20:41] cniweb commented on #102
We are in the process of adjusting PID file handling.

[2017-11-17 12:00] BergmDaniel opened #116 "Make Ports configurable on installation"
Hi,
i want to install OH2 on my DS415play but i get every time the "Port undefined" Error. I had tryed to installation for a long time with Version 2.0.0.009. In the current versions the user will normaly ask in the Setup for the Ports and direction. But in my case there comes no fill out fields in the setup, directly after choosing the *.spk file the error will shown me. I think the DS try to use

[2017-11-19 22:02] jaghatei commented on #116
I had same error which was caused by a different package using the SSL port 8443. Syno installer seems to check in config files in /usr/local/etc/services.d/ if any other installed package uses the ports the current installation requires. In my case it was the CardDAV server.
If so the installation dialogs will not appear, but above error.
Workaround: reconfigure the other package to port differen

[2017-11-19 22:15] jaghatei opened #117 "nrjavaserial lock file rights"
Not sure if this better belongs to nrjavaserial directly or to this syno package. But as nrjavaserial is not platform specific I open it here.

When using the nrjavaserial package the file rigths for the needed serial ports and for the directory /var/run/lock are not accessible for openhab2 user blocking the driver from opening the serial port as lock file creation fails.

I needed to create a gro

[2017-11-20 08:28] adromir commented on #116
I also get the impression that openhab itself is leaving something behind after Deinstallation, hat blocks the required ports. I got it running with the latest snapshot. Then I messed up some configuration so it didn't start anymore. I tried to reinstalled it several times now, cleaned my ds of all services I don't need and it's still not working. Sometimes it is at least running, but I can't acce

[2017-11-20 13:21] kaikreuzer commented on #117
The issue you describe does not seem to be "solution specific" either, so imho nrjavaserial would be the right place to address this. You are fully correct that such a Java library must not expect to have access rights in /var/run, so it should deal with that situation.

[2017-11-20 22:30] cniweb commented on #117
Is this the right place?
https://github.com/NeuronRobotics/nrjavaserial/issues/108

[2017-11-20 22:34] cniweb commented on #116
At the moment, unfortunately, only the HTTP port is to configure the install. We are currently working on making the other ports configurable.

[2017-11-23 14:51] BergmDaniel commented on #116
Thanks for your great ideas. I have checked the /usr/local/etc/services.d/ Files there was no Service which used the 8443 but ones with 8080. After uninstalling this Service (UBNT Unifi Controler), i could installed the OH package whitout any problem and could also installed the Unifi Controler on a diferend Port.
Thanks to your help, now i can start with OH on my Syno!
BR

[2017-11-23 21:51] cniweb commented on #116
I repoen it, we plan to configure all port´s at installation.

[2017-11-27 20:21] jaghatei commented on #117
I doubt that nrjava would pick it up as it does not provide any installation procedure.
How should they know which OS user is effectively running nrjavaserial.jar?
But https://github.com/NeuronRobotics/nrjavaserial/issues/81 would be the better link as this exactly describes my issue.

[2017-11-28 20:02] cniweb commented on #117
This issue NeuronRobotics/nrjavaserial#81  is about permission, can you give it a try, if it works, if you add the user openhab to the group dailout?

[2017-11-28 20:13] cniweb commented on #117
@jaghatei Can you please try once, if that helps with you?
https://github.com/NeuronRobotics/nrjavaserial/issues/108#issuecomment-346688702

@kaikreuzer If it helps, can you include this in the config.properties? Or is this optional and should be in the documentation of the binding?

[2017-11-29 20:47] jaghatei commented on #117
On my ds214play there is no such group. Neither dialout nor uucp are existing.
/dev/... and lock dir belonged to root:root before I created the group "lock" and assigned openhab2 and root to it.

[2017-12-01 07:53] jaghatei commented on #117
the current DSM upgrade to 6.1.4 has reverted my changes in the /dev and /run ownership and where 6.1.3 has set a=rw for /dev/ttyUSB0 6.1.4 is setting it for user only (go-rwx).

[2017-12-03 22:13] cniweb commented on #117
What are we to do in your opinion?
What rights should be awarded where?

[2017-12-04 14:30] jaghatei commented on #117
/dev is udev and /run a tmpfs / ramdisk, so any change like chmod / chown here will not stand a reboot.
To have the changes persistent I needed to set up a udev rule in /lib/udev/rules.d/ :
`SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", GROUP="lock", MODE="0660"`
and adapt /etc/init/root-file-system.conf
from
`    /bin/mkdir -p /run/lock || true
`
to
[code]

The udev rule mi

[2017-12-08 12:40] cniweb commented on #117
@jaghatei I also see that an implementation in the installer.sh script is not possible. We do not know which USB devices a user has connected and if he wants to use them for OpenHAB as well.
It would be great if you could create a pull request for the README.md file with the appropriate content.
A check if group dialout or uucp is present is implemented, see:
https://github.com/openhab/openhab-syn

[2017-12-09 19:20] jaghatei commented on #117
You are trying to add openhab2 user to hopefully existing groups by --member option, but you are not checking for the result of the commands at all:
[code]
If group is not present you would have to create it with --add instead of --member
and additionally you need to enable lock file creation by
/bin/chown root.<groupname> /run/lock
/bin/chmod 0775 /run/lock
and adapt /etc/init/root-file-system.co

[2017-12-18 17:28] Harald1966 opened #119 "Installation Problem"
I install the Java 8 and update to ....151 version.

DS 1815+
DSM 6.1.4-15217 Update 3

I check it with 7 and 8 but always get this message 👍

/usr/local/bin/java Downloading source failed

Can you help

Thanks

Harald

[2017-12-18 20:43] tordenfod opened #120 "synology update-openhab wont start"
just updated ny syno to DSM 6.1.4-15217 Update 3
Now openhab (2.2.0.008) wont kick in..

solution ?

Other than reinstall :-)

[2017-12-18 21:00] cniweb commented on #119
Yesterday the new version 2.2.0 has been released. That's why the URL does not fit anymore. We are currently in the process of building a new package.

[2017-12-18 21:02] cniweb commented on #120
Yesterday the new version 2.2.0 has been released. That's why the URL does not fit anymore. We are currently in the process of building a new package.

[2017-12-18 21:43] Harald1966 commented on #119
thanks

[2017-12-18 22:07] cniweb commented on #119
You can use the new final release 2.2.0:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.2.0.010

[2017-12-18 22:07] cniweb commented on #120
You can use the new final release 2.2.0:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.2.0.010

[2017-12-19 10:13] piejanssens opened #121 "Virgin installation of 2.2.0 - error (java) User Home Service not enabled"
![image](https://user-images.githubusercontent.com/829098/34152019-6bd420c4-e4ad-11e7-94e8-326b317687f5.png)

I installed the official Java 8 pkg before installing openHAB.
I created the shared folder 'openHAB' and gave r/w permissions to 'guest' (is this necessary?).

[2017-12-19 10:25] piejanssens commented on #121
I enabled the DSM "User's Home" option (strange requirement!) to get passed this error.
Now the OpenHAB install completed and I could start and load up OH.
There is not a single file generatesd in /public/openHAB/conf (or userdata or addons).

[2017-12-19 10:39] piejanssens commented on #121
Is the UH_SERVICE check done only because enabling the home service would create the public share?

[2017-12-19 15:14] cniweb commented on #121
Yes, I think the option is only for that. So if in Wizzard another option than the share folder in the user home settle, then the user home service can remain disabled.

[2017-12-19 15:52] piejanssens commented on #121
There is nothing 'public' about openHAB config files and therefore I don't see a particular reason to want it as part of the 'Public' shared folder
Please note that enabling the user home folder on DSM6+ (at least my version) does not create the public folder, so to use the home UH_SERVICE check to assume the 'Public' share will be there makes no sense.

The best (IMO) solution for the wizard woul

[2017-12-19 18:58] cniweb commented on #120
@tordenfod Can I close this Issue?

[2017-12-19 18:59] cniweb commented on #119
@Harald1966 Can I close this Issue?

[2017-12-19 19:02] Harald1966 commented on #119
Yes works super thanks a lot

[2017-12-19 19:02] #119 closed

[2017-12-20 12:08] DominikMie opened #122 "Can't find Homebuilder and Rule Engine"
In 2.2.0.008 SNAPSHOT both could be found in the Addons. In 2.2.0.010 Release both packages are gone.

Can anybody tell how to find them?

[2017-12-20 20:33] cniweb commented on #122
@kaikreuzer Is this a problem of this package or of openHAB 2.2?

[2017-12-20 20:33] #120 closed

[2017-12-20 20:35] cniweb commented on #121
@SchoppAx What do you think about?

[2017-12-20 20:39] cniweb commented on #117
@jaghatei The note was taken in the readme.
Can we close the issue?

[2017-12-20 22:05] SchoppAx commented on #121
That’s an easy enhancement.

I will change the destination settings in the holidays ;-)

[2017-12-22 09:37] kaikreuzer commented on #122
I'd say of this package. Both exist in the 2.2.0 release distro.

[2017-12-22 10:06] kaikreuzer commented on #122
Let me correct myself: I'd say it is neither the package nor the release.
I have just installed 2.2.0.010 on my Synology and I have Home Builder as well as the rule engine available and installed without any problem.

I would hence claim that something is screwed up on @DominikMie's installation.

[2017-12-23 08:36] DominikMie commented on #122
Mea culpa! Mea maxima culpa!

I ugraded from 2.2.0.008 SNAPSHOT and had to rename the existig directories. Furthermore I copied the content of old .../openHAB2/userdata/ to new .../openHAB/userdata/. As a result OH 2.2.0.10 Release ran with all existing bindings, things and items. But it was not possible to install new bindings.

So I made a fresh installation and had to re-define all  things and

[2017-12-23 08:37] #122 closed

[2017-12-30 10:37] KaiLuettmann opened #123 "Logging not working with fresh untouched installation"
The logging ist not working after success installation in /SmartHome/openHAB/. The file /SmartHome/openHAB/userdata/logs/openhab.log has a size of 0 bytes.

**Systeminformation:**
- DS214play
- DSM 6.1.4-15217 Update 5
- Java: 8.0 151-0014

**Reproduction:**
1. Install synology package openHAB-2.2.0.010-syno-noarch-0.001.spk to /volume1/SmartHome/openHAB/ and http port 9090
2. configure UI via htt

[2017-12-31 00:20] KaiLuettmann commented on #123
Changing to /volume1/public/openHAB/ seems to work

[2018-01-02 11:50] zuernc opened #124 "No sitemap after upgrade to 2.2.0.010"
## Setup:
- openHAB 2.2.0.010
- DSM 6.1.4-15217 Update 5

## Problem:
After upgrading I can't display any sitemap from /volume1/public/openHAB/conf/sitemaps in Basic UI nor Classic UI. Everything used to work like a charm before the upgrade.

I've noticed that in Paper UI: Configuration > Services > Classic UI > configure > Default sitemap it says "_default" which shows me my "things" but not my s

[2018-01-02 20:30] zuernc commented on #124
Reinstalled, tried both standard and expert package. The problem remains.

[2018-01-03 08:20] jaghatei commented on #117
yes can be closed.

[2018-01-03 09:23] zuernc commented on #124
## Solution/Workaround

1. Installing to public/openHAB: Sitemaps did not show initially, even the ones I setup with Home Builder. Eventually this example worked and I could build on top of it: [https://github.com/openhab/openhab1-addons/wiki/Explanation-of-Sitemaps#element-webview](url)

2. Installing without the use of a public folder to SmartHome/openHAB/ worked right away and as well with my o

[2018-01-03 09:23] #124 closed

[2018-01-03 21:43] dfrap commented on #123
My system is also not logging.  Today I uninstalled and reinstalled 2.2.0.010.  After install, openHAB seems to run correctly, but still no logging and file length is 0.

ls -al /volume1/public/openHAB/userdata/logs/openhab.log
-rwxrwx--- 1 openhab users 0 Jan  3 15:29 /volume1/public/openHAB/userdata/logs/openhab.log
Note that the timestamp for the file is the time of the reinstall.

I suspect pe

[2018-01-04 15:09] #117 closed

[2018-01-04 16:36] dfrap commented on #123
I uninstalled openHAB and deleted openhab.log from /volume1/public/openHAB/userdata/logs.  After reinstall, openhab.log was created, but still no logging entries.  The new file permissions seem incorrect.
`-rwxrwx---  1 openhab root     0 Jan  4 11:19 openhab.log`
I suggest group should users, not root.  This makes it very hard to view since it is not possible to login as openhab and login as root

[2018-01-05 10:19] cniweb commented on #123
@dfrap OK I think we need `chgrp` after this line:
https://github.com/openhab/openhab-syno-spk/blob/master/scripts/installer.sh#L277
You agree?

[2018-01-07 22:08] dfrap commented on #123
@cniweb Sorry, but I don't know if just adding a single `chgrp` is sufficient.  As you might notice from my forum posts, I tend to include group on every `chown` command and I suggest that is best practice.

BUT, I don't fully understand why conf and userdata have different permissions compared to addons.  Some of the Synology ACL commands may be providing different results.  I do intend to study

[2018-01-08 14:33] cniweb commented on #123
@dfrap That sounds good, please inform us about your result. Thank you for your efforts!

[2018-01-09 07:14] mcartoixa commented on #65
I think the suggestion here was to distribute the packages automatically via [an integrated package source](https://www.synology.com/en-global/knowledgebase/DSM/help/DSM/PkgManApp/configure). It can be done on the official channel (cf. https://developer.synology.com/developer-guide/publish_package/summit_package_for_approval.html), or on a custom one. Like the ones listed there: http://dottoremoe.

[2018-01-11 20:59] MysterX83 opened #125 "Problem installing openHAB-2.2.0.010-syno-noarch-0.001.spk"
I have a problem installing this SPK package, the logging says:

#### S T A R T  -  o p e n H A B  S P K ####
2018-01-11:21:47:12

Set instance variables...
  public:    true
  smarthome: false
  home:      false
  port:    8080
  tmp:    /volume1/@tmp
  share:
  oh:     /openHAB
  backup: -backup-201801
done
Start preinst...
  Found java executable in PATH
  Java version 1.8.0_151
  Version is mo

[2018-01-11 21:21] MysterX83 commented on #125
I can close the issue myself, i choose the wrong dir at installation.

[2018-01-11 21:21] #125 closed

[2018-01-17 13:32] cniweb commented on #123
@dfrap Can you look at this, please?
#126

[2018-01-21 13:57] #123 closed

[2018-01-31 20:00] acseven commented on #121
Hi,

I think this is related to this new option that we get during installation:
![scrn](https://user-images.githubusercontent.com/1176371/35644487-f602d684-06c0-11e8-8041-fe2945f66b60.png)

Just want to suggest that the setup description would make a reference to the first two being shared folders - at least I didn't figure it out for "SmartHome" at first. Something like "(share must exist..." sh

[2018-01-31 21:59] cniweb commented on #121
@acseven Sounds good and should be easy to implement...

[2018-02-21 08:34] Pi-And-More commented on #36
Stumbled upon this post when trying to do the same for OpenHab. For me 8080, 8443 and 5555 were not in use and also not in the .sc files. What eventually helped me was to unpack the SPK file as suggested here: [https://github.com/openhab/openhab-syno-spk/issues/69] and which I learned how to do here: [https://forum.synology.com/enu/viewtopic.php?t=10807]

[2018-03-23 14:42] wirebug commented on #91
I am not familiar with the installation process of an spk, so please be kind ;-)
Is it possible to extract the install path into a config file -> http://wiki.bash-hackers.org/howto/conffile (eg. located in the openhab root) for the script. If a user decides to move his logs to another location, a simple edit of the config file would do the trick..

[2018-03-30 17:54] elcodeo opened #127 "Package won't start"
Hi guys,
I've updated to 2.3.0.001-SNAPSHOT. The update process was successful but the package won't start. When I try to start via the GUI the status still remains on "stopped".
<img width="280" alt="bildschirmfoto 2018-03-30 um 19 50 56" src="https://user-images.githubusercontent.com/36534322/38147691-ac15d3bc-3453-11e8-9ef7-20882aed65c3.png">

The start-stop log says it's running:
<img width="2

[2018-04-03 21:18] cniweb commented on #127
Hi @elcodeo can you look in your `/var/log/openhab/openhab.log` file?

[2018-04-05 20:15] elcodeo commented on #127
Hi @cniweb unfortunately there is no `/var/log/openhab/openhab.log` file. I only have `openHAB-install.log` and o`penHAB-start_stop.log` under /var/log/

[2018-04-05 22:38] cniweb commented on #127
Sorry, I mean: `/volume1/@appstore/openhab/userdata/logs/openhab.log`

[2018-04-10 21:04] andysei commented on #127
@elcodeo I probably had the same issue. Check openhab.log for address in use error message. Do you have CardDAV server installed? It uses 8443 as the https port - the same as openHAB.

[2018-04-11 21:09] cniweb commented on #127
Yes, `netstat -an` can help!

[2018-04-17 21:02] elcodeo commented on #127
@cniweb `/volume1/@appstore/openhab/userdata/logs/openhab.log` is empty.

@andysei I have nothing else installed which uses port 8080 or 8443.

[2018-05-29 10:41] slydlake commented on #127
I had the same problem. My solution was this:

- Uninstall openHAB
- Check the Directory of openHAB and delete all things except the "userdata", "addons" and "config" folder
- Install openHAB

For me this worked

[2018-05-29 12:38] yphyph01 opened #129 "request: openHAB 2.3 on DSM 6.2"
Hi @cniweb ,
Would be nice to have the openHAB new release 2.3 on the fresh new synology DSM package 6.2 :-)
Any idea of its availability?
Thank you
Yann

[2018-05-29 20:14] cniweb commented on #129
I´m work on it!

[2018-05-29 20:16] cniweb commented on #127
@elcodeo Yes, this is the best solution at the moment.

[2018-05-29 20:42] cniweb commented on #129
@yphyph01 can you try, please:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.3.0.002

[2018-05-30 09:45] yphyph01 commented on #129
@cniweb thank you for your job.
I've tried the new release .... without success.

Here are the synopkg.log:

`2018/05/30 11:30:41     install openHAB 2.3.0.002 Begin /bin/mv -f /volume1/@tmp/pkginstall/package /volume1/@appstore/openHAB
2018/05/30 11:30:41     install openHAB 2.3.0.002 End /bin/mv -f /volume1/@tmp/pkginstall/package /volume1/@appstore/openHAB ret=[0]
2018/05/30 11:30:41     instal

[2018-05-30 10:28] yphyph01 commented on #129
and the OpenHAB_install.log file:
`#### S T A R T  -  o p e n H A B  S P K ####
2018-05-30:11:46:18

Set instance variables...
  public:
  smarthome:
  home:
  tmp:    /volume2/@tmp
  share:  /var/services/homes
  oh:     /var/services/homes/openhab
  backup: /volume1/@appstore/openHAB-backup-201805
done
Start preuninst...
done
#### S T A R T  -  o p e n H A B  S P K ####
2018-05-30:11:46:28

Set

[2018-05-30 16:20] slydlake commented on #129
Same issue here. i have the openHAB 2.2 installed
Problem is that the openHAB user will deleted (update installation) and not recreate or with errors

[2018-05-30 18:34] cniweb commented on #129
OK, can you try a uninstall and new install (no update!)?

[2018-05-30 19:49] yphyph01 commented on #129
I've done ... Without success

⁣Envoyé par BlueMail ​

Le 30 mai 2018 à 20:34, à 20:34, "Christian Häussler" <notifications@github.com> a écrit:

[2018-05-30 21:44] Polooo2 commented on #127
Same issue here. After the successful update process I can not start it.
From var/log/openHAB-start-stop.log:

`Start service
  call start.sh.
  FAILED (su)
Stop service.
  openHAB is not running
done.`

[2018-05-31 14:16] manudar commented on #127
Hi I have the exact same issue. In my case the feasibility check fails so no install is done. In spite of this, the user openhab is removed and all the configuration (fortunately I had a backup). I installed the previous version, I copied my backup and everything  works.
I have a DS3617xs with DSM 6.1.6-15266 Update 1.
This is the error in /var/log/synofeasibilitycheck.log:

2018-05-31T16:03:49+02

[2018-05-31 18:29] shaag7967 commented on #127
having the same problem as manudar (feasibility check fails at installation). (Had a backup of my config too. I'm so glad...)

But I cannot install previous version 2.3.0.001, because the zip file is gone:
[code]
When I visit the cloudbees website, there is no openhab-2.3.0-SNAPSHOT.zip (only openhab-2.4.0-SNAPSHOT.zip).
Right now I'm openHab-less. Feeling so naked... ;)

@cniweb Could you please

[2018-05-31 20:51] Polooo2 commented on #127
I had CardDAV installed and deinstalled it.
Uninstalling and reinstalling 2.3 did not help. Uninstalling, rebooting and installing 2.3 did not help. Uninstall and installing 2.2 again fixed it.

Can I provide you with any logs or additional debugging info? I have DSM 6.1.7-15284

[2018-06-01 09:59] andre2308 commented on #129
Hey,
I have the same problem as slydlake and yphyph01 on DSM 6.1.7-15284.

[2018-06-01 10:39] Snowrisk commented on #129
Same here.... (@ DSM6.2)

[2018-06-01 16:46] HeikoB commented on #129
Me too @ DSM 6.2

[2018-06-02 06:44] rberger commented on #127
I can't get the `openHAB-2.3.0.002-syno-noarch-0.001` to properly install. It doesn't seem to be writing to `/var/log/openHAB-install.log`. It fails to start.

I had `openHAB-2.3.0.001-SNAPSHOT-syno-noarch-0.001` running previously. I had uninstalled it (using the DSM Package manager) and then installed `openHAB-2.3.0.002-syno-noarch-0.001` and it fails to run and there are no updates to `/var/log

[2018-06-02 07:43] shaag7967 commented on #127
@rberger To install version openHAB 2.3.0.001 again, you need to download openhab-2.4.0-SNAPSHOT.zip from [here](https://openhab.ci.cloudbees.com/job/openHAB-Distribution/lastSuccessfulBuild/artifact/distributions/openhab/target/). Rename the file to openhab-2.3.0-SNAPSHOT.zip and place it in the '/var/services/homes' shared folder and start installation again. I have it running on my NAS and ever

[2018-06-02 09:16] shaag7967 commented on #127
Back to topic...

@elcodeo On my NAS, DSM reported openHab as stopped but it was running (I could acess paperUi and everything was working). The problem is in the start script of openHab. The start script gives openHab 5 seconds to start. If it is not started after 5 seconds the script reports to DSM that openHab is not running. If you don't like this, then edit the following script: **/var/packag

[2018-06-02 22:32] rberger commented on #127
The symptoms @rhusername described are pretty much the same as me, but I am still on DSM 6.1.7-15284

[2018-06-03 23:32] rhusername commented on #129
Thanks for all the work that’s been done.  Same here, same errors.  Unable to install 2.3.x (001 or 002).

[2018-06-04 03:51] Cheesythebest commented on #129
Same for me. Openhab 2.3 doesn't work for me on my Syno 415+ DSM 6.2. Not with fresh install and not with update from 2.2.
After this i had install Openhab 2.2 new, this works fine!

[2018-06-07 09:12] kaikreuzer commented on #129
@cniweb Any news on this? It seems that many people are struggling with 2.3 on DSM...

[2018-06-07 22:44] cniweb commented on #129
You can try the new release:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.3.0.003

[2018-06-07 22:44] cniweb commented on #127
You can try the new release:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.3.0.003

[2018-06-09 13:52] loovanloon commented on #127
I tried to install 2.3.0.003.  Package won't start. OpenHAB user is created. DSM version: 6.1.7-15284

Log:
![2018-06-09 15_50_51-microsoft edge](https://user-images.githubusercontent.com/25280600/41192375-075b5194-6bfd-11e8-8f7b-ceefefc2f0f5.png)

[2018-06-09 14:10] loovanloon commented on #127
Installing (updating) v2.3.0.003 over a running v2.2.0.010 works: package starts.
but appears as a fresh installation with options how to setup (simple, standard etc.)
Maybe due to previous install attempts that deleted the setup.

[2018-06-09 14:28] #127 closed

[2018-06-09 14:29] #129 closed

[2018-06-10 10:21] yphyph01 commented on #129
thank you for your job @cniweb
It's working :-)
Regards

[2018-06-10 15:35] manudar opened #130 "Upgrade from previous version uninstalls all bindings and services and HomeKit not working"
Hi, I upgraded to spa package 2.3.0.0003 from 2.2 and it works now, but I had to install all the bindings and services again.
Also, I have not investigated yet why, but I had the basicui dark mode enabled and now it is not enabled. Also HomeKit integration stopped working even after I installed the service (although the configuration files are present).
Of course the main problem is HomeKit not wo

[2018-06-10 15:46] manudar commented on #130
The basicui dark mode configuration was just lost. I configured again and it work, like the missing bindings, but HomeKit does not work and it does not give any error in the log either.

[2018-06-10 15:54] manudar commented on #130
After the upgrade, in iOS, the old hub has to be removed and the new one added. With this all the configuration in iOS is lost.
Please improve the upgrade experience of OpenHAB for Synology users.

[2018-06-14 14:32] zuernc opened #132 "openHAB-2.3.0.003-syno-noarch-0.001 doesn't start"
- DS415+, DSM 6.1.7-15284, JAVA8 is up to date

- Installed openHAB-2.3.0.003-syno-noarch-0.001 and got the following in my log:

- openHAB-2.3.0.002-syno-noarch-0.001 not starting either (and the install deleted my openhab user)

- went back to openHAB-2.2.0.010-syno-noarch-0.001 which is working fine

Any thoughts on how I could fix this so as to use the newest version? Thx!

[2018-06-14 23:20] richterfritz commented on #132
Same for me, all three versions not working, with the 003 version I get the same maven error :(

[2018-06-16 22:33] SyntaxError-404 commented on #132
I have exactly the same issue.

[2018-06-17 08:13] cniweb commented on #132
@kaikreuzer What can this be?

[2018-06-17 09:13] kaikreuzer commented on #132
No clue, sounds like some broken distro... Do I get it right that no 2.3 packaging worked so far? Or just not for certain DSMs?

[2018-06-17 09:34] yphyph01 commented on #132
@kaikreuzer the distro 2.3 is working on DSM 6.2.
validation done by several users ;-)

[2018-06-17 11:54] zuernc commented on #132
As soon as DSM 6.2 gets available in my region I will post an update. Thanks to you all!

[2018-06-19 10:32] fritzrichter commented on #132
worked for me now... I needed to install it to a fresh directory, which was different to my previous one "/SmartHome". It seems to work now.

[2018-06-20 12:29] cniweb commented on #132
Yes, you must install in a fresh directory. The update is not still work at the moment.

[2018-06-20 12:29] #132 closed

[2018-08-05 12:53] cjritola opened #135 "Unable to setup Z-wave"
Following instructions here:
https://www.youtube.com/watch?v=R2T5Mg3RLq0
... Stuck setting up z-wave at 4:34 because the "Choose A Thing" list will not populate.
![choose-a-thing](https://user-images.githubusercontent.com/1056698/43686026-e0bacc24-988c-11e8-8ce7-56e83465fd35.png)

Fresh install of 2.3.005 on DSM 6.2-23739. Hardware is DS214se.

events.log:

2018-08-05 08:05:40.214 [thome.event.Ext

[2018-08-05 14:41] #135 closed

[2018-09-13 18:12] karakum opened #136 "NRJavaSerial.so for RTD1296 SoC"
I have Synology NAS DS418.
There is problem using serial transport in OpenHAB bindings.

To test I use .so lib from OH package (`/volume1/@appstore/openHAB/runtime/system/org/openhab/nrjavaserial/3.12.0.OH/nrjavaserial-3.12.0.OH.jar`)

I wrote simple test:

[code]

and got output:

[code]
I run it under root on my DS418.

Please update library for ARM8 RTD1296 cpu.

[2018-09-28 16:08] bodoweiss opened #138 "openHAB crashes by configuring Z-Wave binding"
I have a Synology DS413j with DSM 6.2-23739-2 Update 2 and Java ejdk-8u181-linux-arm-sflt.tar.gz and openHAB-2.3.0.005-syno-noarch-0.001.spk. When I try to configure the Z-Wave binding in the PaperUI
  Inbox -> Search for Things -> Z-Wave Binding -> Z-Wave Serial Controller (Z-Wave USB-stick with serial interface
the openHAB process crashes and needs to be restarted with DSM package manager. This

[2018-10-05 06:48] pieterzen commented on #130
Similar report when upgrading from 0003 to 0005.
All files were still there (rules, things etc), but the jsondb settings were gone. Quit unexpected. Maybe a warning can be placed on the release notes?
I also noted that the portnumber changed from 8084 to 8080, causing issue's with influxdb docker.

As a workaround I'm planing on a fresh install.

[2018-10-05 07:15] pieterzen commented on #47
More relevant because of this:
https://community.openhab.org/t/openhab-2-4-milestone-builds/50359

[2018-10-06 12:37] andre2308 commented on #138
Hey,
Crashs openHAB After you selected the serialport, and Save the configuration?
Have you checked the z-Wave Support on Installation?

If yes, can you Upload a log from openHAB and from the Installation?

[2018-10-15 06:31] tsw86 commented on #91
I am using the 2.3.0.005 release and the hard drives still go into hibernate mode. However I'm seeing that after a certain amount of time, the log files abruptly end and (that is what I suspect) my Z-wave binding does not initialize properly (my 'things' won't go online anymore).

My NAS is shut down every night and on startup the log files are not appended any more after the sudden ending of them

[2018-10-15 08:01] haegar33 commented on #116
So which ports are actually required during installation? 8080? How show I disable other services on my NAS if I dont know the needed port? And for a good Synology package the new application should obey the existing port configuration. Too bad for such a good SW like OpenHab not be able to be used on my NAS.

[2018-10-25 14:40] andre2308 commented on #116
Hey @haegar33,
In the latest Release you can configure the HTTP Port you want to use. Standard Ports are 8080 for HTTP an 8443 for HTTPS, in the Latest sourcecode you can chose HTTPS too. On Installation will openhab Check your chosen ports are free.

[2018-10-25 20:09] cniweb commented on #116
no, that is not yet possible. I have to build a new release first...

[2018-10-28 17:49] bodoweiss commented on #138
Hi,

the crash happens before it is possible to select the serial port.

Z-Wave support has been selected on installation.

The log files are attached. Take a close look at the jvm crash log file hs_err_pid30270.log. It looks like openHAB cannot get the list of serial ports.

Anyway the Synology box has mounted the Z-Wave Serial USB-Controller

    crw------- 1 root root 166, 0 Oct 19 13:01 /dev/t

[2018-10-28 20:33] andre2308 commented on #138
Hey bodoweiss,

Is our issue solved?
If yes, can you Tell us what the reason was?

Otherwise you can Check the access rights for openHAB User @ ttyACM0.
Normaly the Installation move a startup Script to the rc.d folder, that set the needed rights.
I will take a Look at the Logs tomorrow.

Greets

[2018-10-28 22:50] bodoweiss commented on #138
Hi andre,

the issue isn't solved unfortunately

The small script
  /usr/local/etc/rc.d/openHAB-zwave.sh
has run. This is the result:
  root@DiskStation:/usr/local/etc/rc.d# ls -la /lib/modules/usbserial.ko
  -rwxrwxrwx 1 root root 61736 Sep  7 10:46 /lib/modules/usbserial.ko
  root@DiskStation:/usr/local/etc/rc.d# ls -la /lib/modules/ftdi_sio.ko
  -rwxrwxrwx 1 root root 99460 Sep  7 10:46 /lib/mo

[2018-10-29 15:37] andre2308 commented on #138
Hey,
so i checked your logs. It looks to me, that the crash is caused by "tmp/libNRJavaSerial_openhab_0/libNRJavaSerial.so".
Have you tryed with installed zwave binding an plugged z-wave dongle  to stop openHAB, delete the content of the cache an tmp folder, then start openhab?

Witch Serial Controler are you using?
Can you update to lastest DSM?

[2018-10-29 23:36] bodoweiss commented on #138
Hi Andre,

my DSM is the latest DSM 6.2.1-23824 Update 1

My serial controller is Z-Wave USB Stick (ZMEEUZB1). It works fine connected to a Win10 PC and with openHAB running on it. It looks to be online:
# stty -F /dev/ttyACM0
speed 9600 baud; line = 0;
-brkint -imaxbel

# udevadm info --a -p $(udevadm info -q path -n /dev/ttyACM0)

Udevadm info starts with the device specified by the devpath and

[2018-10-30 13:15] andre2308 commented on #138
Hey,
I have run stty -F /dev/ttyACM0 with this Output:

speed 115200 baud; line = 0;
min = 1; time = 2;
-brkint -icrnl -imaxbel
-opost -onlcr
-isig -icanon -iexten -echo -echoe -echok -echoctl
-echoke

My System is a ds216play with the same Z-Wave Stick as you.

My last idea is to Install this serial Driver Package http://www.jadahl.com/drivers/
You have do pick the right Package for your CPU. Thi

[2018-11-11 08:33] rberger commented on #63
It looks like `conf` and `addons` are not being copied over from `/volume1/@appstore/openHAB` into `/volume1/SmartHome/openHAB/` and then linked back to `/volume1/@appstore/openHAB`

I.E. after I just did a fresh install, `/volume1/@appstore/openHAB/userdata` was properly set up but there was no `conf` or `addons` in `/volume1/@appstore/openHAB/` but they were still in `/volume1/@appstore/openHAB`

[2018-11-18 21:50] cniweb commented on #63
What is the diffrent between `/volume1/@appstore/openHAB/` and `/volume1/@appstore/openHAB` in your comment?

[2018-11-19 13:51] Kat-CeDe opened #139 "where to put additional addons?"
Hi,
I use the enigma2 addon and I already tried directories

openHAB/addons
openHAB/tempfs/addons
openHAB/userdata/addons
and others

but it was not taken.

Ralf

[2018-11-21 04:10] andre2308 commented on #139
Hey,
Normally you put the .jar file in your configpath. „openHAB/addonsThat have you choosen by Installation.
Have you checked the Acessrights for the file? Linux is there very restrectiv.
What in the logfiles?

Andre

[2018-11-21 18:07] Kat-CeDe commented on #139
Hi,
thanks now it works. I am nor sure why it did not work before.

Ralf

[2018-11-26 19:39] cniweb commented on #136
Thanks @wborn
Can I close this issue?

[2018-11-26 20:18] wborn commented on #136
I think it can be closed since it's a nrjavaserial issue that occurs on any openHAB distribution. We just need to build/integrate the nrjavaserial version with the arm64 PR.

See also the [community thread](https://community.openhab.org/t/openhab-on-synology-ds418-serial-binding-problem/57161?u=wborn) about this issue.

[2018-12-04 11:13] #136 closed

[2018-12-05 20:26] mica2409 opened #140 "PPK installation fails: Update failed. Link folder '' could not be found."
Hello

I tried to install latest SPK release of openhab on Synology DSM 6.2.1-23824 Update 1.
Install failed and i get this message below on logs:
Same problem with shared or without shared folder.
Have you any idea of what is wrong on my installation?
Thanks for help.

  _TMPFS:     true
  Z-Wave:    true
  port:    8080
  tmp:    /volume1/@tmp
  share:  /var/services/homes
  oh:     /var/service

[2018-12-18 08:12] D1irk commented on #47
Hi. Are there any plans to release an OH 2.4 Syno package soon? Or is there another way of upgrading from 2.3 to 2.4? Thanks

[2018-12-18 10:52] marcdevinci opened #141 "Support of openHAB 2.4.0"
openHAB 2.4.0 has been released, see here:
https://github.com/openhab/openhab-distro/releases/tag/2.4.0

Can you please support this new official release? Thanks a lot

[2018-12-18 15:06] yphyph01 commented on #141
+1 ;-)

[2018-12-18 22:01] CarstenKlein commented on #141
+1

[2018-12-19 21:53] cniweb commented on #141
Yes, I work on it!

[2018-12-19 21:54] cniweb commented on #47
Yes, I work on it!

[2018-12-22 09:00] WTKodi commented on #141
I did something awful and I am ashamed to tell you....  I installed newest software on my CCU without making any Backup.

Homematic changed some security-things and my CCU is now offline in openHAB. I followed the tips, but nothing helped.

The good news: This seems to be solved in 2.4
The bad news: my disk station does not support docker and you are now the only hope to safe my marriage.

No pres

[2018-12-25 15:46] olivierov commented on #141
**_@cniweb : Due to a hardware failure of my RPi running the openHAB 2.4.0 release, I must install the 2.4.0 on my Synology NAS to exit this critical situation... May be someone else is also in a similar situation, that the only reason why I share the following information. I have a great respect of your work and of your commitment to share your work to the community and I thank you for that. I ho

[2018-12-31 12:06] WTKodi commented on #141
@olivierov We are currently in vacation... but when we are back, I will most likely have such an emergency.

[2019-01-02 22:16] zaizuney commented on #141
@cniweb  no stress, but when do you plan to release the update? i want to fix the sonos issue with the new release but don't want to hack your package :)

[2019-01-05 15:01] Tost69 opened #142 "SSL not working / environment variable not set correctly"
Hi Cniweb,

first: thanks a lot for your work on contributing this openHAB Syno package.

I've installed the latest package (2.3.0.005) on my Synology NAS and it's working so far.

But I run into some trouble as soon as I installed the embedded MQTT broker (misc-mqttbroker - 2.3.0).
I've choosen to secure the connection by SSL but that's not working right now.
I've had some looks into the logs and

[2019-01-08 05:07] mlava commented on #141
@olivierov
Have you considered creating a pull request? Would that help @cniweb get an official release faster?

Also, I presume the conf, userdata and addons folders don't get touched by the update?

[2019-01-08 10:33] pieterzen commented on #142
I think it's more related to Jetty, as there are no settings like that in this package. Have you tried posting/searching on the openhab forum?
Alternatively you could experiment with docker images; that way you won't be harming your own environment (if your syno supports it...).

[2019-01-08 13:56] Tost69 commented on #142
Hi Pieterzen,

thanks for your reply.

Meanwhile I checked several environment variables with the echo command and ... content is there. So while it's strange that the set is not working correctly (for other variables the set command shows a trailing '...' if the output is shortened) it cannot be the cause of the issue.

Something is wrong with the jetty configuration. I have a jetty.xml within ru

[2019-01-08 22:31] cniweb commented on #141
I draft a new release:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.4.0.000

[2019-01-09 08:43] Tost69 opened #143 "Update to openHAB 2.4.0 failed / port already in use"
Hi Cniweb,

thanks a lot for the update to 2.4.0. I've tried to update from 2.3.0.005 and the installation stopped with message 'Port 8080 already in use. Please try again'.
Is there something I can do to avoid this issue before starting the update?

Thanks and kind regards, Tom

[2019-01-10 07:42] ingof commented on #143
Maybe same problem:

After update from latest 2.3.x i get the message Port 8443 in use. I changed to Port 8444 and i can install the 2.4 but i can not get the openhab start page at port 8080.

I deinstalled 2.4 and installed it again. I get port 8443 allready in use.

But there is no port 8443 in use.

`netstat -nlp | grep 443
tcp        0      0 0.0.0.0:443             0.0.0.0:*               LIS

[2019-01-10 11:36] yphyph01 commented on #143
Same issue with 8443 port already in use ... I've removed openhab 2.3 and I've launched a fresh new install of openhab 2.4 without success.
@ingof may raise the issue :-)

[2019-01-10 13:33] OllO18 commented on #143
Hey from Oldenburg.
When installing 2.4 i hab same issue. I found carddav already using Port 8443.
Try change port during setup.
BTW. Uninstaling 2.3 failed, without notice. onlyafter removing openhab folder from homes manually and deleting openhab user i succeded in installing 2.4
thanks for your work cniweb

[2019-01-10 20:34] ingof commented on #143
I extracted the spk-file inserted the "**:** in front of the $ in line **52** and **62** of **installer.sh** and tar it again.
It works fine for me. Installation on Port 8443 without problems.

[2019-01-10 20:48] ingof commented on #143
Thats my first pull request. I hope it is useful ;-)l

[2019-01-16 01:46] JimH1111 opened #145 "openHAB 2.4 Install Issue"
My 2.4 installation won't start on DSM 6.2.1-23824 Update 4 (Diskstation 1812+)

OpenHAB 2.3 was working well.  I uninstalled 2.3 from Package Center, restarted the DIskstation and Installed 2.4 from the Package Center.  However 2.4 will not start.

There are some messages in the log stating Could not launch framework
java.lang.RuntimeException: Could not resolve mvn:org.eclipse.platform/org.eclip

[2019-01-16 04:02] JimH1111 commented on #145
Nevermind.  Uninstalled & reinstalled 2.4 and everything seems to have gone smoothly this time.

[2019-01-16 04:02] #145 closed

[2019-01-16 20:46] bencirulis commented on #140
Hi all,
Thanks for the great work on this.
I have the same issue trying to update to v2.4.:
Any assistance would be appreciated!
#### S T A R T  -  o p e n H A B  S P K ####
2019-01-17:07:41:06

Set instance variables...
  public:    true
  smarthome: false
  home:      false
  TMPFS:     true
  Z-Wave:    true
  port:    8090
  port:    8443
  tmp:    /volume1/@tmp
  share:  /volume1/public
  oh:

[2019-01-19 09:10] marcdevinci commented on #140
+1

I have exactly the same issue with my installation. Any workaround or solutions? Thanks a lot

[2019-01-19 12:59] abraunisch opened #146 "How to update openhab2 on synology diskstation"
Hello,

i would like to be update my openhab 2.3.0.005. to a newer version.
As far as I understand there doesn't exits any update-function at this moment :-(

Therefore, I would like to ask the following questions:

1. when will there be something like that?
2. is ther anywhere a simple documentation how can i  update openhab manualy
and (very important) successfully without any errors? I search f

[2019-01-19 23:11] jaywiseman1971 commented on #146
I'm also running OH on Synology and I'm at the original version 2.3.0.001 and I would like to be update my openhab to the 2.4 version also.  I see the main owner released 2.4 SPK but I'm a bit scared to jump to it manually vs. following some sort of steps, please . . .

I have many "add-ons" at level 2.4 and 2.5 already including the zWave one which is a big change; so I think my upgrade won't be

[2019-01-21 10:37] marcdevinci commented on #140
Checking the code of installer.sh in GitHub (https://github.com/openhab/openhab-syno-spk/blob/master/scripts/installer.sh), something seems to be strange.

"Create backup" worked because I see all files moved from original directory to backup directory (${BACKUP_FOLDER}/userdata)

It means that variable ${SYNOPKG_PKGDEST} has the right value but for some strange reasons variable ${LINK_FOLDER} is

[2019-01-24 13:11] piejanssens opened #147 "Fresh setup of OH 2.4, missing conf with items, rules etc."
I have setup OH 2.4 using the SPK.
Fresh setup of all my bindings, things and items (and even rules using the rule builder) through PaperUI.
I don't see the 'conf' folder being created or any items/things/... files in  `/volume1/openHAB/userdata`.
Is that normal because I did everything through PaperUI? How do I export my config or create a backup now?

[2019-01-24 16:08] Tost69 commented on #147
Hi,

the bindings, things and items you've setup with PaperUI are stored somewhere. Otherwise you couldn't see them in PaperUI/Control, right?

On my 2bay Syno the installation has created the folder /volume1/@appstore /openHAB (I've selected to install to volume 1).

Depending on your chosen settings during the setup both folders conf and userdata were created
- either in the userhome of user ope

[2019-01-26 23:48] martycastilla commented on #140
I had the same issue so I tried an older version an it installed fine. I used 2.3.0.003

[2019-01-30 19:21] cniweb commented on #147
@piejanssens This is not a openhab/openhab-syno-spk issue, read the OH docs. Can I close this issue?

[2019-02-03 18:21] cniweb commented on #146
@frest-de can you post your adjustments?
You're right, because unzip package is missing.
That would have to be a prerequisite if the package is to be an update.

[2019-02-03 20:54] frest-de commented on #146
I just installed unzip on my synology using entware-ng an changed the path to unzip in the restore script. The script runs without any errors after that. Resoring OpenHAB does not work anyway.

[2019-02-03 21:02] jaywiseman1971 commented on #146
I think Synology replaced unzip with 7z.  Here are 2 threads talking about it.

https://github.com/ncw/rclone/issues/1949
https://portal2portal.blogspot.com/2017/01/synology-nas-wheres-my-unzip-command.html

I personally haven't tried it but I'm watching this thread because I do want to upgrade my Synology OH to 2.4 also.

Best, Jay

[2019-02-03 21:03] frest-de commented on #146
correct, you could replace unzip with 7zip in the script as well.

[2019-02-04 11:53] Tost69 commented on #142
@cniweb

I've got the embedded MQTT broker running with version 2.4, but have had no luck to secure the broker. SSL still isn't working for MQTT. I followed several tutorials to set this up correctly (including to put my own certificate and tried differend places for the keystore) without success.
I hope this will be easier with one of the next versions.

For the time being, I am more involved in

[2019-02-05 10:56] Curio84 opened #148 "problem uninstalling openHAB2"
Hello,

i use openHAB-2.4.0.001-syno-noarch-0.001.spk.
I have a problem uninstalling Openhab2.
I get the following error message:
"The package was successfully uninstalled.
Stop TMPFS was Failed, check TMPFS log in '/var/services/homes/openhab '. "
The user "openhab" and the folder /homes/openhab were not deleted.
How can I solve the problem?

[2019-02-05 12:12] hooperbloob commented on #140
Is there a workaround?  Maybe creating some sacrificial file or directory?

[2019-02-05 19:58] piejanssens commented on #147
@cniweb
I still don't know where to put the files. I don't have a 'conf' folder in the /volume1/public/openHAB directory. I created one afterwards but OH doesn't seem to pick up anything (created a test file ` /volume1/public/openHAB/conf/sitemaps/demo.sitemap`) This was a fresh install of 2.4.

[2019-02-06 20:23] cniweb commented on #148
Can you look here: /var/services/homes/openhab the TMPFS log file?
And can you delete the openhab user manually (in the WebGUI)?

[2019-02-07 18:06] piejanssens commented on #147
After a restart it was working. So recreating the symlinks was key for me.

[2019-02-07 18:06] #147 closed

[2019-02-08 08:23] hooperbloob commented on #140
It failed for me in the same way with these previous versions:

2.4.0.001 ->  Update failed. Link folder '' could not be found.
2.3.0.005 -> Update failed. Link folder '' could not be found.
2.3.0.003 -> Update failed. Link folder '' could not be found.
2.3.0.002  installed but failed to run...

[2019-02-08 21:12] martycastilla commented on #140
Interesting. The only thing that I can think of why it worked when I used a lower version is that I made sure the previous installation was completely removed via the Synology package manager. Then removing all residual folders and files via Ssh session. If this is the reason that it worked with my last attempt, then it should have worked 2.4.0.001 had I used it. With that said and the comments fr

[2019-02-13 22:45] schlaubi666 opened #149 "Can't install 2.4.0.001 on DSM 6.2.1-23824 Update 4( DS 713+)"
I have never installed this package before.

I select the downloaded package from my download folder and hit the next button.

Then i get the error:

![image](https://user-images.githubusercontent.com/24993136/52749337-24a21c00-2fe9-11e9-8a4e-f92737b83282.png) ( if your german is not so good ... Port undefined is configured to be used in thes package , is used by someone else or is reserved by the

[2019-02-13 22:56] schlaubi666 commented on #149
sudo netstat -nlp | grep 8080
sudo netstat -nlp | grep 8443

shows no result

[2019-02-14 07:36] slydlake commented on #149
Did you try to upload the file with chrome?

[2019-02-25 15:06] cniweb commented on #149
I see in the background, you installed Tomcat? Witch port use this?

[2019-02-25 15:44] schlaubi666 commented on #149
No, i did not installed tomcat.

Christian Häussler <notifications@github.com> schrieb am Mo., 25. Feb.
2019, 16:06:

[2019-03-08 17:47] HakamSaffour commented on #121
I made a pull request to add the missing step
2. Go to Control Panel → User → Advanced → User Home and check 'Enable user home service'
https://github.com/openhab/openhab-docs/pull/910

This issue can be closed

[2019-03-08 23:25] #121 closed

[2019-03-13 22:43] cniweb commented on #140
That's right, the previous installation must be completely removed through the Synology Package Manager. An update function is currently not implemented, or does not work yet.

[2019-03-15 13:46] petermorlion commented on #146
The openHAB documentation about backup and restore isn't about updating. Or can I just follow the installation instructions with a newer package after I have backed up my files?
Incidentally, the backup script seems to have worked fine on my Synology.
If we want to make this easier, what kind of help would you need? I'm no openHAB or Linux expert, but I am a software developer, so I know my way ar

[2019-03-15 14:38] petermorlion commented on #146
Found the correct 7zip command. In the restore script replace line 21, change:
[code]
to
[code]
You could also change the error message two lines lower.

Then, at line 82, change
[code]
to
[code]
(there is no space between the `-o` and the `"TempDir"`!

[2019-03-21 00:03] Dennis1108 commented on #148
I had same problem. After googleling for about 2hours i found this one ...
Best thing is you enter the synology with putty.
Enalble SSH login in the synology first.
Login via putty (take care that you have correct port. Standart is 2811
Enter as admin with you synology password
sudo -i
then again you password and you are logged in as root.

Do `df -h`
Then you will get a

thereafter you will get a

[2019-03-22 19:13] petermorlion commented on #148
I had to

 - remove the user in the Synology web UI
 - restart the server
 - use @Dennis1108 's solution to unmount the folders in the openhab user's home (even if `df -h` no longer listed them)

[2019-04-04 05:42] cniweb commented on #146
@petermorlion can you build a script for this change? Then I can integrate it on the update mechanism for sinology update process. Thanks!

[2019-04-04 05:44] cniweb commented on #148
@petermorlion can you build a script for this procedure? Then I can integrate it on the uninstall mechanism for the synology uninstall process. Thanks!

[2019-04-04 08:02] petermorlion commented on #146
I created PR #150

[2019-04-04 11:59] petermorlion commented on #148
@cniweb tricky, I'm not sure my knowledge reaches this far. What would be the preferred way of executing a script after rebooting? A cron job (that then also removes the cron job after it has executed)?

[2019-04-08 20:11] cniweb commented on #148
@petermorlion The question is, why a reboot is necessary? Maybe a kill of the process is enough?

[2019-04-08 20:13] cniweb commented on #146
@petermorlion Thanks for you PR! I will try to use the script with the update.

[2019-04-09 07:22] petermorlion commented on #148
Hm, possibly. Though I have no way of knowing, as I have now already updated to 2.4.0. :(

[2019-04-14 14:19] Twotone-de opened #152 "Message Box "Coming soon""
After installing the package at my DS214play I get a message Box with the text "coming soon" and a Button "OK". As I hit "OK" nothing happens. As I close the Window by hitting the X, nothing happens, too. OpenHAB doesn't start.

[2019-04-22 16:03] zuernc commented on #152
If in Package Center your openHAB installation show as "running" try to reach it by typing the IP of your DiskStation followed by your defined port (i.e. 192.168.1.XXX:8080) into a browser.

[2019-04-24 06:36] Twotone-de commented on #152
Thank you, this works. But before I had to change the firewall-settings of the DiskStation.

[2019-05-04 15:36] bunzilein commented on #149
I have the same exact issue.
Ports 8080, 8443 and 5555 are all not in use on my DiskStation.
Tried Chrome and Safari to upload the spk.

[2019-05-10 07:29] MateuszMako opened #153 "New compile"
Can I ask you to compile a new version of OpenHab 2.4.0.002s .spk?

[2019-05-27 21:18] cniweb commented on #146
In Version 2.4.0.002

[2019-05-27 21:18] #146 closed

[2019-05-27 21:19] cniweb commented on #153
Version 2.4.0.002 released!

[2019-05-27 21:19] #153 closed

[2019-05-28 18:54] #142 closed

[2019-05-28 18:55] cniweb commented on #149
@schlaubi666 and @bunzilein I have released a new version with the fix.

[2019-05-28 18:55] #149 closed

[2019-05-28 18:57] cniweb commented on #116
I released a new version withe a fix.

[2019-05-28 18:57] #116 closed

[2019-05-28 18:58] #99 closed

[2019-05-29 06:54] bunzilein commented on #149
Thanks Christian!

[2019-06-01 10:24] nougad commented on #140
I was running into the same issue.

I picked `/SmartHome/openHAB` as a installation path but did not create `/SmartHome/openHAB/{conf,addons,userdata}`. That means `/volume1/@appstore/openHAB/{conf,addons,userdata}` was no symlink and the `readlink` on upgrade failed.

After creating the folders and reinstalling openHAB I could successfully upgrade.

@cniweb Is the statement that the package needs

[2019-06-01 11:27] nougad opened #154 "Enabling tmpfs causes security warning in Security Advisor"
Running the Security Advisor creates a medium warning:

When clicking `fix` it comments out the whole script

Is there any way to tell DSM this is a valid start script? I don't see an option to ignore this one script. There is only a option to ignore malicious scripts in general.

[2019-09-25 08:15] LowieHuyghe opened #155 "Upgrade to 2.5.0"
Hi,
Would it be possible to have a release with the newer 2.5.0 milestone-releases? A lot of new things have been added to it.
Thanks in advance!

[2019-09-27 18:44] #155 closed

[2019-09-27 18:45] LowieHuyghe commented on #155
Switched to docker. Please reopen if wanted. :)

[2019-09-29 20:51] Kumaro87 opened #156 "Paper UI Control not working"
Hi,

Unfortunately when I click on "Control" within Paper Ui the Page is not loading. I always see a white page.

Maybe is there a fix for that?

Thx a lot.
Best regards

[2019-10-06 16:07] Timtam opened #158 "snapshot support for openhab 2.5"
It would be nice to have e.g. a branch for already available OH 2.5 snapshots to test new features on a Synology NAS without fiddling with the manual installation. This branch could be updated to install the latest stable 2.5 version as soon as it gets released.

[2019-10-09 22:19] cniweb commented on #158
I try to take care of it the next few days.

[2019-10-20 14:18] Timtam commented on #158
Thanks for that :). Any progress on that? I just thought that having a release which will always pull the very latest snapshot might be even more future proof here and probably kinda helpful for bleeding edge testers.

[2019-11-02 17:16] X015 commented on #158
Any news on the 2.5 SNAPSHOT?
Realy looking forward to it!

Thanks!

[2019-11-04 23:15] michabbb opened #159 "No user interfaces installed"
hi, i installed the package and accidentally clicked on the wrong link after the first start.
now i am stuck with the message "No user interfaces installed."
what can i do to install one?

thanks!

[2019-11-21 22:07] ddnl commented on #158
looking forward to the 2.5 snapshot for synolgy

[2019-12-13 17:21] cniweb commented on #158
I'll try to do it next week...

[2019-12-13 17:22] cniweb commented on #159
Can you add a screen-shot?

[2019-12-16 14:13] piejanssens commented on #158
Looking more forward to 2.5 final which came out yesterday 😄

[2019-12-16 17:09] cniweb commented on #158
You can test it:
https://github.com/openhab/openhab-syno-spk/releases/tag/2.5.0.000

[2019-12-16 18:55] piejanssens commented on #158
Didn't go too well. In the UI it says "Failed to run package service."
I tried to run it via the script. Noticed the following permissions:

[code]

Then did a chmod -R 755 on the /var/packages/openHAB dir.

[code]

[code]

[2019-12-16 20:08] poval82 opened #160 "Upgrade from 2.4.0.002 to 2.5.0.000"
Hello,
Is there automatic mechanism to upgrade from  2.4.0.002 to 2.5.0.000 ?

[2019-12-17 11:02] Hoffi96 commented on #158
got exactly the same error. Just installed 2.5 over my existing 2.4 installation

[2019-12-17 13:03] cniweb commented on #158
OK, I see why. New release is in progress.

[2019-12-17 13:05] cniweb commented on #160
Unfortunately not at the moment. It is best to save the configuration beforehand.

[2019-12-17 13:27] poval82 commented on #160
Do you mean backup and restore scripts in bin folder ?

[2019-12-17 14:25] cniweb commented on #160
No manual copy in a other folder

[2019-12-17 14:25] cniweb commented on #158
Can you try again:
https://github.com/openhab/openhab-syno-spk/releases/download/2.5.0.000/openHAB-2.5.0.000-syno-noarch-0.001.spk

[2019-12-17 14:42] piejanssens commented on #158
![image](https://user-images.githubusercontent.com/829098/71005326-c439aa80-20e3-11ea-8f73-7d5854d927e6.png)

I can't access the log atm. Will do in a couple of hrs.

[2019-12-17 15:08] cniweb commented on #158
You must uninstall first and than install new (backup your files first).

[2019-12-17 19:08] Hoffi96 commented on #158
same error as described above

[2019-12-17 19:44] mbremer99 commented on #158
Installation worked for me - did uninstall of failed package this morning and now installed new spk.
This is the log from the sucessfull install:

`#### S T A R T  -  o p e n H A B  S P K ####
2019-12-17:20:40:47

Set instance variables...
  public:    false
  smarthome: false
  home:      true
  TMPFS:     false
  Z-Wave:    false
  port:    8080
  port:    8443
  tmp:    /volume1/@tmp
  share:

[2019-12-18 10:21] daniedj commented on #160
I'm not able to find the instructions for updating from 2.4 : I've to remove 2.4 and install 2.5?

[2019-12-18 12:23] michabbb commented on #159
![image](https://user-images.githubusercontent.com/3524595/71086208-90b95780-2199-11ea-8aa2-6c53d6bb7b8f.png)

[2019-12-18 12:37] TheRealMoeder commented on #160
Yes you have to backup your configuration, uninstall 2.4 and reinstall 2.5. For me, completely moving over conf and userdata was troublesome, so I did the following from Synology ssh console:
1.) Stop openhab 2.4 service
2.) Backup configuration files and persistence
sudo cp -ar /youropenhabfolder/conf /yourbackupfolder
sudo cp -ar /youropenhabfolder/userdata/jsondb /yourbackupfolder/userdata/json

[2019-12-18 13:06] daniedj commented on #160
thank you! I'll try

[2019-12-18 13:39] cniweb commented on #159
This is not a problem of this package. openHAB2 downloads everything when you start it, including the GUI. It usually takes a while.

[2019-12-18 13:41] michabbb commented on #159
i am totally new to openHAB, sorry if this is the wrong place. can you give me some advise anyway? i have absolutly no idea how i can work with openHAB right now because the is no GUI.

[2019-12-18 14:52] cniweb commented on #159
At the first start this should actually come:
https://www.openhab.org/docs/tutorial/1sttimesetup.html
Maybe this helps:
https://community.openhab.org/t/solved-ui-missing/45952/3

[2019-12-25 15:43] manudar opened #161 "Synology package permissions wrong"
The Synology package does not install because the permissions of the .sh scripts inside the spk file are wrong. I fixed it and it works. Please update the build process so the spk file is done properly.
Here is a link to the fixed package
https://www.dropbox.com/s/7hqvwvm15mlc87b/openHAB-2.5.0.000-syno-noarch-0.001.spk?dl=0

[2019-12-30 23:35] Loek69 commented on #152
My DS214Play same issue.
Reach it by typing the IP of my DiskStation followed by my defined port (i.e. 192.168.1.XXX:8080), it works.
How to run it from the Package Center?

[2020-01-04 12:26] rokrodic opened #162 "Simple guide how to upgrade (always the latest version)"
Hi.
This is not an issue, but a simple video guide how to upgrade and always have the latest OpenHAB version on your Synology NAS:
[https://youtu.be/-ArEEJRXVU8](https://youtu.be/-ArEEJRXVU8)

BTW, inbetween the versions have advanced, but the guide is very simple. All you have to do is to find the latest link and ZIP file for the OpenHAB.

Rok Rodic
[https://www.rodic.si](https://www.rodic.si)
[h

[2020-01-28 16:12] ingof opened #163 "openHAB 3 installation does not work."
I tried to install the openHAB 3.0 beta SPK.
The installation tries to create the user openhab and delivers user and password for the user. The command is line 177 in install.sh.

The user creation is failing. In my oppinion is the reason a missing password.
${DAEMON_PASS} is probaply not defined.

I could not find the set of ${DAEMON_PASS} in OH2.4 but this installs withour problems.
Where is the

[2020-01-28 16:17] ingof commented on #163
this is the content of /var/log/openHAB-start_stop.log after manual creating the user "openhab" with password "openhab":

[2020-01-29 13:48] cniweb commented on #161
Hi @manudar how can i do this in the build process?
Here is the build script:
https://github.com/openhab/openhab-syno-spk/blob/master/.travis.yml

[2020-01-29 13:49] cniweb commented on #152
What could / should appear in the combo box?

[2020-01-29 13:51] cniweb commented on #162
Thank you @rokrodic, would you add that to the [README.md](https://github.com/openhab/openhab-syno-spk/blob/master/README.md)?

[2020-01-29 15:51] manudar commented on #161
Hi,
to make it work, the scripts have to have execution rights. I assume that
somehow you could save this in the repository (I kow how to do it in SVN
but no idea in git).
To make it robust against local users is good to use always user 0 group 0.
This is the updated script, although the chmod would be beter to remove it
and save the execution permissions in the repository.
Changes are in *bold*

[2020-02-03 12:56] manudar commented on #163
Hi, neither 2.5 nor 3.0 packages work for me (I and doubt for anybody) because the permisions of the sh scripts in it are wrong. Take a look to this post
https://community.openhab.org/t/solved-synology-2-5-spk-install-problems/87775/19
I explain it there and I provide the fixed packages. I tested the 2.5, but not the 3.0.

[2020-02-10 21:27] #161 closed

[2020-02-10 21:27] #163 closed

[2020-02-29 09:29] keepsmilyn opened #164 "Location and editing of conf files"
Ive successfully installed openHAB on my synology, however how do I create and edit files within the conf sub folders?

I was able to do this easily when installed on a windows test environment previously.

openHAB seems to be running from /volume1/@appstore/openHAB instead of '/SmartHome/openHAB' shared folder as created and selected on install. :-S How can I easily access where it installed? Is

[2020-02-29 10:29] keepsmilyn commented on #40
That looked like a terrific fix for me, but unfortunately I get the following error when trying to 'mount': mount: only root can use "--options" option. Sigh! Any work around for this??

[2020-02-29 11:11] keepsmilyn commented on #40
Had to use sudo infront of the mount command to get it to work.

[2020-03-03 22:18] cniweb commented on #164
During installation you can choose where the user folder should be.
The **/volume1/public** should actually already exist and be available as a network share.
For example, you can choose this folder during installation:
`/volume1/public/openHAB`

[2020-03-03 22:23] #158 closed

[2020-03-03 22:23] #160 closed

[2020-03-03 22:24] #159 closed

[2020-03-03 22:27] #162 closed

[2020-03-03 22:29] cniweb commented on #156
Hi @Kumaro87
The first start takes some time because openHab loads parts from the Internet. Does it work now?
Regards,
Chris

[2020-03-04 05:27] keepsmilyn commented on #164
Actually, no in our case we didnt have a 'public' folder so it wont ever save there. Even when choosing one of the other options it still defaulted to /volume1/@appstore/openHAB.

In the end we have left it there and ran 'SUDO mount -o /EXISTING-LOCATION /MAPPED-LOCATION/ to enable access to the files elsewhere without SSH access.

[2020-03-04 11:26] michabbb commented on #159
thanks for your help, i guess the only thing that would help is a new fresh re-install, but currently i am no longer in openhab, maybe another time, thanks!

[2020-03-09 17:59] cniweb commented on #164
OK, then can we close the issue?

[2020-03-11 18:59] foal opened #167 "Missing SPK asset for 2.5.2 release"
Release contains only source code assets, no SPK

[2020-03-11 23:09] #164 closed

[2020-03-12 20:36] cniweb commented on #167
Yes, I know. Fix is at work...

[2020-03-12 20:41] #167 closed

[2020-03-27 16:40] ozzerik opened #168 "Error when install package"
Port in used by another service or reserved for system use.
Service conflict

[2020-03-30 21:24] poeschke commented on #168
Same for me!

[2020-04-09 15:37] beinaendi commented on #148
This does the job, your path may differ:

1 stop package
2 open putty and logon to server
3 umount /volume1/homes/openhab/tmpfs
4 rm -r /volume1/homes/openhab/tmpfs
5 umount /volume1/homes/openhab/userdata/logs
6 rm -r /volume1/homes/openhab/userdata/logs
7 umount /volume1/homes/openhab/userdata/persistence
8 rm -r /volume1/homes/openhab/userdata/persistence

[2020-04-14 13:24] ecser99 commented on #152
In the Synology Package Center my OH looks like this:

![image](https://user-images.githubusercontent.com/10208264/79229312-19ec4c80-7e63-11ea-99f3-d0d4b6a1420a.png)

Checking other Synology apps, the ones with the "Open" option just open the app in a new browser tab like the "Moments" app.
This is the same result, like cliking the link under "URL".
So, with openHab, clicking on the Open button sh

[2020-05-06 14:00] Gous062 commented on #168
same here !

[2020-05-19 23:07] DoganM95 commented on #168
have you tried using different ports while installing?
8080 is a pretty commonly used port, try changing to e.g. 8090 and port 8443 to 9443

[2020-05-20 07:27] Gous062 commented on #168
I had packages installed but not used. I removed unused and rarely used packages, restarted my DS412+ and openHAB installed properly. So one of those packages was causing the issue I guess (unfortunately I removed more than one at the time so don't know which one)

can we change the port 8080 to e.g. 8090 after the installation ?

[2020-05-21 00:28] DoganM95 commented on #168
Seems like you can change the ports after installation, i found this in OpenHAB docs:

https://www.openhab.org/docs/installation/security.html#webserver-ports

[2020-05-28 21:16] DoganM95 opened #169 "Enable usage of multiple network interfaces"
Could you enable/implement the possibility of using multiple network interfaces at the same time, so that e.g. binding "network" detects all devices from multiple subnets?

Background behind this is the following use case:
I isolated all my less/non-secure IoT devices into a "guest network" to isolate them from my main network. My NAS server has 2 ethernet ports, one connected to my main network a

[2020-07-15 17:20] DoganM95 opened #172 "Local Computer Systeminfo error"
Local Computer System information shows only errors.
Seems like libudev.so is not detected by openhab, even after i installed **libudev** and **udev** with ipkg.
I tried formatting the output a, to make it a bit more readable.

`Status: UNINITIALIZED - HANDLER_INITIALIZING_ERROR Unable to load library
'udev': libudev.so: cannot open shared object file: No such file or directory
libudev.so: cannot

[2020-08-05 03:19] JensHauser opened #173 "Clear cache"
I stumble upon the need to clear cache from time to time and spent hours on wasting time, just to realize the cache needs to be emptied.

The issue is that it´s not predictable for me, when it´s the right point of time to do that.

How about clearing the cache automatically on every startup? In my eyes all current devices are fast enough to cope with a few seconds of delay.

[2020-09-21 14:26] ibaxx commented on #168
same problem here... can't install, because 8080 is in use... it is used by a dms system on docker. cant be shut down.

[2020-09-29 07:30] ecser99 opened #174 "2.5.2.000 installed but won't start after upgrade from 2.4.0.002"
I had a working installation 2.4.0.002, my OH files were in the @appstore folder
I made a backup of my OH files into /volume1/public/openHAB backup
I uninstalled OH 2.4.0.002 using Package Center
Created /addons /conf /userdata folders in /volume1/public/openHAB using File Station
Installed  2.5.2.000 in Package Center into /volume1/public/openHAB
Tried to start OH in Package Center, result: OH st

[2020-09-30 21:01] #174 closed

[2020-09-30 21:03] ecser99 commented on #174
It was a permission problem of /volume1/public/. chmod -r 777 solved it.

[2020-11-30 11:40] sreuter commented on #148
Also make sure to delete those startup scripts left behind:

```/usr/local/etc/rc.d/openHAB-*.sh```

[2020-12-14 22:37] thopiekar opened #178 "DSM 7: Clean up packaging files and make it conform with Synology guidelines"
We've been running our scripts with root rights for a long time.
With DSM 7 Synology prevents these packages to be installed and creates system users to define permissions safely.

I'm going to clean up the whole set of script and make it conform to Synology's guidelines. The download steps on preinstall will be kept, but I've got itchy fingers bundling all data in our spk.
I mean, logically you w

[2020-12-15 17:02] thopiekar commented on #178
Updates: OpenHAB install in a non-persistent environment now. Basically removed all the start up scripts and read how the Karaf project suggests to start services. Works perfectly fine. Guess I will end up with a completely rewritten package.

[2020-12-16 09:49] cniweb commented on #178
@thopiekar Thank you very much for your work. Let me know when you have.

[2020-12-18 14:28] thopiekar commented on #178
Got only one thing left: Using the existing Synology app to display the uuid and cloud id from the userdata directory. I'm going to create a request for support at Synology on this. I just can't find any documentation about app development.

[2020-12-19 18:12] MikeD23 commented on #178
Hi @thopiekar, I am currently using openhab3 on my freenas server. I like it a lot and want now to install also this version on my fathers DS411 (armv5). I successfully installed your .spk for 3.0.0-SNAPSHOT but it will not start even the log says it has ("PID file created. done."). I just have java8 installed and since OH3 needs jre11 I think that is the reason.
If you are done implementing this

[2020-12-19 18:52] thopiekar commented on #178
"Your" is not really correct. I'm contributor of openHAB but never put much effort to the Synology subproject.
The packaging files will be completely rewritten.
Will create a pull request once I'm finished.

But you can do me a favour already.. can you access your dad's nas and run "uname -m"?

Thanks!

[2020-12-19 23:10] MikeD23 commented on #178
Sorry, I just came across this repo when I was looking for a way to install openhab on a synology and did not have a closer look. I thought you were the only contributor in here.
[code]
I just found a zulu build ([zulu11.43.100-ca-jdk11.0.9.1-linux_aarch32sf.tar.gz](https://cdn.azul.com/zulu-embedded/bin/zulu11.43.100-ca-jdk11.0.9.1-linux_aarch32sf.tar.gz)) of java 11. Might this work?
Do you how

[2020-12-19 23:40] thopiekar commented on #178
I'm going to use AdoptOpenJDK.
They have a cleaner website and I couldn't find Arm builds by OpenJDK really. As AdoptOpenJDK provides builds for many architectures I'm taking it from there out of one hand. Nevertheless I'm going to focus on openHAB 2 first.

Generally give me some more time please 😉

[2020-12-20 15:29] MikeD23 commented on #178
Sure, take your time. I've got now 3.0.0-RC2 to run with zulu java11. It took me some time (and netstat) to get to know that openhabs webservice only listens to 8443 and not 8080. But now I'm logging in and I'm fine.
I'm so excited to bind all the new gadgets that santa will bring on christmas :grin:

[2020-12-23 17:46] thopiekar commented on #178
I guess skip working on the UI and symlink the UUID and cloud id files to the share as I do for the other files for now.
Was talking with Syno support and they told me to file a ticket, so I can get help by a more technical person.

@cniweb I have two wishes:
 * I would like to review pull request, which are made on my work in the future. From what I saw contributed by the community I have the fea

[2020-12-23 17:48] thopiekar commented on #178
@MikeD23 Yeah, it is nice to see that OH3 has the same file structure. So no extra work for me here. Regarding Zulu builds: I need to twitch to these I guess. Was using AdoptOpenJDK but just noticed today that we (as OpenHAB family) recommend Zulu.
... Whatever the benefits are 😆

[2020-12-28 15:15] cniweb commented on #178
@thopiekar  can you complete your work and do a pull request, please?

[2020-12-30 23:48] thopiekar commented on #178
@cniweb: PR created, but there is still some work left. How are your thoughts on the points above?

[2021-01-03 23:33] cniweb commented on #178
@thopiekar I remove the sponsor button.
Which points are you unclear exactly?

[2021-01-03 23:34] cniweb commented on #178
I agree with you that we will focus on stable code that is feature rich.

[2021-01-09 10:36] chingon007 opened #182 "Installation suceeds, package service can't be started - 3.0 Snapshot"
Hello,

I tried to installt the 3.0 Snapshot under /var/services/homes/openhab. According to the Synology Log Center it is successfull installed, but neither is the package service starting - receiving error: Package service can't be started - nor do I have any created folders in /var/services/homes/openhab or an user is created.

Where do I find specific logs for the openhab installation to see w

[2021-01-09 10:41] chingon007 commented on #182
Ok, found the log. The error I am receiving is:

`Start postuninst...
  Daemon user folder '' not found - nothing deleted
`

[2021-01-09 11:11] chingon007 commented on #182
The error is coming from uninstalling. If I start installing nothing appears in the log file. I did install and added it to etc.
What could be wrong?

[2021-01-21 19:25] ekkards commented on #182
Neither have I been successful, on a DiskStation with INTEL Atom C2538

using Java installation hints in https://github.com/openhab/openhab-syno-spk/README.md
[code]
and
[code]
 checked CLASSPATH
[code]
and JAVA_HOME
[code]

but not even `/var/services/homes/openhab` would be there.

/var/log/openHAB-install.log contains
[code]

[2021-01-26 20:34] thopiekar commented on #178
@cniweb If I could get more involved into the project here. At least for the reviewing process.
I'm often busy as you can see, so if that happens it won't be anything blocking - you can go ahead with the activities of course. :slightly_smiling_face:

So yeah, that would be really nice :wink:

Btw. I continued on the PR. I'm waiting there for feedback by some brave testers.

[2021-02-05 21:42] fabyte commented on #182
Same here, I have exactly the same java environment like @ekkards .
Besides that, I'm running a DS220j with Realtek RTD1296 SoC.

/var/log/openHAB-start_stop.log shows:
[code]

[2021-02-17 20:38] Gemikro1 commented on #182
Same for me, also installed Java11 with the minor modification that i have the additional \jdk-11.0.9.1+1 in the Java installation path and env vars.
I think the installation fails because the installer.sh script tries to find the file "openhab-3.0.0-SNAPSHOT.zip" under "https://ci.openhab.org/job/openHAB-Distribution/lastSuccessfulBuild/artifact/distributions/openhab/target/"
where it simply does

[2021-03-02 10:59] Dragoniacs16 opened #183 "SPK package for 3.00"
Could you please make version 3.00 available in an SPK shape ?
Thanks

[2021-03-06 12:21] ypkdani00 commented on #183
Yes please can you upload the SPK file? Thanks

[2021-03-06 18:31] Gemikro1 commented on #183
You can convert it on your own, spk ist just a renamed tar.gzip
Within the openhab-syno-spk-3.0.0.00.tar.gz there is a openhab-syno-spk-3.0.0.000 folder with the conf, scripts, WIZARD_UIFILES subfolders etc. needed by the Package Center in it.
Exctract this folder with e.g. 7zip to some temporary folder, select the content and make a tar.gz out of the it (again with 7zip). Then just rename it to *

[2021-03-07 17:44] Dragoniacs16 commented on #183
Perfect ! It's working.
But now I hav new issue : I can't access to the interface @ 192.168.1.XXX:8080
Any idea ?

[2021-03-07 18:18] Dragoniacs16 commented on #183
Oh no, even version 2.5 is not working anymore :(

[2021-03-08 22:00] Gemikro1 commented on #183
Could be that 8080 is already used by some other app.
I change the port to 8180 if necessary but mainly use the 8443 port for https access.
Did you start openHAB manually or via the DSM ?

[2021-03-09 18:27] Gemikro1 commented on #183
Did you try 8443 which is the default port for SSL access ?

[2021-03-09 18:57] Dragoniacs16 commented on #183
It is not working with 8443

[2021-03-17 18:49] Gemikro1 commented on #183
Did you reset the certificate in the browser ?
After reinstallation, openhab creates a new certificate for the https access over port 8443.
If you have accepted the old, self signed certificate it will not match the new one and the browser will not access openhab

[2021-03-30 13:02] Dragoniacs16 commented on #183
I think I need java11 by I don't konw how to install it. Can anyone help me ?

Here is the error message in the log file :
2021-03-30 14:32:05.252 [ERROR] [ternal.service.BootFeaturesInstaller] - Error installing boot features
org.apache.felix.resolver.reason.ReasonException: Unable to resolve root: missing requirement [root] osgi.identity; osgi.identity=openhab-runtime-base; type=karaf.feature; v

[2021-04-01 23:12] misko903 opened #184 "adding to https://synocommunity.com/packages"
Hello,
to simplify the installation, can you add it to [https://synocommunity.com/packages](https://synocommunity.com/packages) ?

Thanks!

[2021-04-02 20:53] locamand opened #185 "openhab3 for older Synology NAS"
Hello,
Is there a chance to get running the 3.0 version on a Java 8.0 Synology NAS like the DS216j where Docker is not working?
Thanks a lot.

[2021-04-13 18:49] anste opened #186 "Linked jdk is not arm32"
Documentation says "download AdoptOpenJDK for arm32", but it links to aarch64:

`https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.9.1%2B1/OpenJDK11U-jdk_aarch64_linux_hotspot_11.0.9.1_1.tar.gz`

I think it should link to something like:

`https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.10%2B9/OpenJDK11U-jdk_arm_linux_hotspot_11.0.10_9.tar.

[2021-04-14 16:07] westerbur2020 commented on #183
I hope there will come up a solution, I've got exactly the same problem !

[2021-04-25 01:04] SeeDborg commented on #183
Same problem here too : no SPK and I can't install because port 8080 is already in use... Please just change it :(

[2021-05-01 18:17] anste commented on #185
I got it to work on a DS114 by uninstalling the Java 8 package and installing the Azul ZuluJDK 11 manually. Adopt OpenJDK didn't work for me.

[2021-05-03 17:23] sergeyastakhov opened #187 "Bintray isn't available anymore"
Installer uses Bintray repository for downloading Openhab files.
Unfortunately, this server does not work any more: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Alternatively, you can try using the server https://openhab.jfrog.io/artifactory/libs-release/, at the moment there are modules for version 3.0.2

[2021-05-03 18:19] sergeyastakhov commented on #187
Actually, it is enough to replace this line in the "scripts/intaller.sh" file:

[code]

[2021-05-16 20:00] ok-qt20 commented on #185
could you please give a manual to install the Azul ZuluJDK 11 manually to a DS? I got a DS216J

[2021-05-17 20:05] anste commented on #185
In my case I downloaded ZuluJDK for ARM 32-bit HF (HF since DSM 6). Then I connected via SSH (root) and copied the extracted files to `/var/packages/Java11`. Lastly i adjusted `javahome` and `path` in `etc/profile` so that they point to the new JDK.

`java -version` should now show the correct version.

[2021-05-18 09:12] morthimor commented on #187
Was this enough to successfully install and run package? I did change line (actually it shouldn't have slash on end), but still installing wasn't successful until I manually downloaded openhab_3.0.2.zip file to @tmp folder. But even then it is not starting. What am I missing?

[2021-05-18 09:42] sergeyastakhov commented on #187
I managed to successfully install the SPK file with this modification through a regular installation via the GUI and for 2 weeks now the openhab server has been working normally.
Do not forget that the OpenHub 3.0 server needs Java version 11 only and no other to work.

[2021-05-18 11:18] ok-qt20 commented on #185
Many Thanks, works!

[2021-06-04 09:51] dirkpollmann commented on #187
I am an new user (nothing chached) and I have to use 2.5.2 (just Java 8 support for my synology) installation will not work:

Start preinst...
  Found java executable in PATH
  Java version 1.8.0_275
  Version is more than 1.8
  The User Home service is enabled. UH_SERVICE=yes
  The shared folder '/var/services/homes' exists.
  Get new version
  Processing openhab-2.5.2.zip
  ERROR:
  There was a

[2021-06-29 14:33] lebovitz commented on #178
@thopiekar
What's the status of the DSM 7 Syno package?
DSM 7 is now officially released. So I guess it's time for a package :-)

[2021-06-30 12:51] thopiekar commented on #178
Oh, yes. I'll rerun the build script it with the latest version of OpenHAB.
Also for 2.x since I'm still staying in this version because I'm feared of compatibility bugs. At the moment my setup just works fine ™.
.. due to the DSM7 release I also see lesser priority in the problem with DSM compatibility. It's like giving support for Windows XP 🤷

[2021-07-01 06:09] lebovitz commented on #178
I agree on the backward compatibility for OH2.
I tried your package on DSM7 and it seems to work.
There are a couple of questions I do have on your package
1. It seems from the build.sh script that you download ALL versions of OpenJDK and the just use the one that fits the CPU. Why not download just this one version from the start?
2. In DSM7 the OH package seems to be spread over many folders. It

[2021-07-16 00:22] igroruch opened #189 "Move out the API URL into separate configuration file"
Create a separate config module to read your resources from file and config json file to keep your resources out of main code.

[2021-07-16 00:23] igroruch commented on #189
by mistake

[2021-07-16 00:23] #189 closed

[2021-07-23 06:39] ansorg opened #190 "What Java package on DSM7 for OpenHAB SPK?"
hello, I run the openHAB 2.4 package on a DS214. That one has no docker support so I need the native synology package.
Works fine in DSM6 with the Synology-provided Java8.

I just learned that Synology does not provide any Java for DSM7. That would apparently stop openHAB from working.

Then I found this https://github.com/rednoah/java-installer and tried it:
I removed Java8 from the DS214 and ins

[2021-07-25 15:12] westerbur2020 commented on #185
Thanks, I was able to install Java11. Further I tried to install openHAB 3.0 but without success "failed, stopped service".

[2021-08-13 09:23] gackelchen commented on #178
Just updated to DSM 7.
Do I understand right: openHAB 3 for DSM 7 is not yet ready?
Is OpenJDK 16 (rednoah) the right preparation?

[2021-08-16 16:59] sk365 opened #191 "DSM 7 does not accept .spk"
Hi,
after update to DSM 7 the package center accepts neiter the openhab3 nor the openhab2.4.5 spk. Error invalid file format. Java 12 is installed.
Please help.
Best,
Stefan

[2021-08-18 20:01] westerbur2020 opened #192 "Frustraion about the openHAB installation on Synology NAS"
It's so frustrating. What has happened that the great Synology community is so neglected.
I put a lot of effort into getting Java 11 to work, now I'm failing to install OpenHAB version 3.0. I don't dare upgrade to DSM 7 because then I'll probably never have the option of installing OpenHAB.
It's too much to cry, I don't understand it!

[2021-08-18 20:09] yphyph01 commented on #192
For the same reason, I moved to the docker version of openhab 👍Le 18 août 2021 22:01, westerbur2020 ***@***.***> a écrit :
It's so frustrating. What has happened that the great Synology community is so neglected.
I put a lot of effort into getting Java 11 to work, now I'm failing to install OpenHAB version 3.0. I don't dare upgrade to DSM 7 because then I'll probably never have the option of insta

[2021-08-18 20:14] jaywiseman1971 commented on #192
For this exact reason I have NOT upgrade from OH 2.x yet.  Everything is working just fine for the last 2 years now.

Best, Jay

[2021-08-29 11:46] Olilala commented on #192
which Synology DS do you use?

[2021-09-02 05:34] westerbur2020 commented on #192
Hi Olilala, it is a DS216j with DSM 7 and Java 11 on it.

[2021-09-03 10:38] Olilala commented on #192
with DSM 7 you can't run openhab natively, so you need Docker, but your DS216j doesn't support Docker.
--> currently you have no chance to run openhab on your nas, because you can't (official) go back to DSM 6 and your nas won't get Docker.
maybe there a some people, that find a way in future, but I don't think so ...

[2021-10-11 02:17] joel-madero opened #193 "3.0 missing sdk"
Hi All,

https://github.com/openhab/openhab-syno-spk/releases

No sdk listed, only zip and tar.gz. Googling around looks like a few people are floundering with the missing file.

Thanks!

[2021-12-18 20:22] nekodojo commented on #183
I don't understand why there is no .spk file in Releases for 3.0.0, if it is trivial to make one, can some one please just make one available on the Releases page?

Instructions here are confusing, do I need to download the .tar.gz and then take some inner folder and make another tar.gz, or do I just download .tar.gz from Releases page and rename it to .spk?

Has this really been open since March

[2022-02-09 22:54] #187 closed

[2022-03-10 22:09] TxBase opened #194 "There was a problem downloading openhab-2.5.2.zip from the download link"
'https://bintray.com/openhab/mvn/download_file?file_path=org/openhab/distro/openhab/2.5.2/openhab-2.5.2.zip'
redirect to
'https://jfrog.com/distribution/?bintrayRD=1&file_path=org/openhab/distro/openhab/2.5.2/openhab-2.5.2.zip'
where you can't download the file.

[2022-03-10 23:21] TxBase opened #195 "There was a problem downloading openhab-.zip from the download link (3.0.0)"
https://dl.bintray.com
return an PR_END_OF_FILE_ERROR (FF)
which causes the download of maven-metadata.xml to fail.
Which causes to failing in parsing the version number and also downloading the file.
'https://dl.bintray.com/openhab/mvn/org/openhab/distro/openhab//openhab-.zip'

[2022-04-05 09:45] hmerk commented on #194
As should be known, Bintray service have been shut down last year, so only openHAB 2 version available is 2.5.12
https://openhab.jfrog.io/artifactory/libs-release-local/org/openhab/distro/openhab/2.5.12/openhab-2.5.12.zip

[2022-04-05 09:46] hmerk commented on #195
See my other post. Download link can be found on openHAB web page.

[2022-06-30 09:02] pergolafabio commented on #193
i had a look at that PR, but i cant find the spk file? can someont point me to it?

[2022-06-30 09:26] pergolafabio commented on #183
i have the same issue, so created the spk manually as nstructions above, but i get error below
but i dont have anything tunning on my synology on port 8080 or 8443

whats wrong?

![image](https://user-images.githubusercontent.com/43251136/176642525-a73c2936-934d-4822-b125-186bf6074317.png)

[2022-06-30 09:33] pergolafabio commented on #168
is there a workaround? i have the same issue , but nothing is running on 8080 , i also uninstalled docker on it, doesnt help

[2022-06-30 11:07] victorpaleologue commented on #193
The PR would have to be merged to get it produced.